<div class="manage-hotels">


  <div class="footer-frame">
    <div class="listed-properties-text">
      <h1 class="listed-properties">
        <p class="listed-properties1">Listed Properties</p>
      </h1>
      <div class="frame-group-location">
        <div class="pride-inn-radisson-b-lu">
          @for (item of hotelsArray; track $index) {
            <div class="madhpur-hyderabad-kondapur">
              <div class="rectangle-parent">
                <div class="frame-child"></div>
                <b class="pride-inn">{{item.hotelName}} </b>
                <div class="madhpur-hyderabad">
                  <p class="madhpur-hyderabad1">{{item.address}}</p>
                </div>
              </div>
              <div class="playstore-apple-frame">
                <div class="modify-group">
                  <button class="remove-group">
                    <div class="remove-group-child"></div>
                    <div class="modify">Modify</div>
                  </button>
                  <button class="rectangle-group">
                    <div class="frame-item"></div>
                    <div class="remove">Remove</div>
                  </button>
                </div>
              </div>
            </div>
          }
          <div (click)="NavigateToNewHotel()"><img
          class="plus-1-icon"
          loading="lazy"
          alt=""
          src="../assets/public2/plus-1@2x.png"
        /></div>
        </div>
      </div>
    </div>
  </div>

</div>
