<div class="confirmation">

    <section class="child-frame">
      <div class="title-text-wrapper">
        <div class="title-text">
          <h1 class="title2">Checkout</h1>
          <div class="address-text1">
            <div class="simple-breadcrumbs1">
              <div class="address1">Payment</div>
              <div class="checkbox-rectangle"></div>
              <div class="shipping1">Shipping</div>
              <div class="simple-breadcrumbs-item"></div>
              <b class="payment3">Confirmation</b>
            </div>
          </div>
        </div>
      </div>
      <div class="thank-you-text">
        <div class="frame-set">
          <div class="check-frame">
            <img
              class="checked-1-icon"
              loading="lazy"
              alt=""
              src="../assets/public/001checked-1@2x.png"
            />
          </div>
          <div class="header-frame2">
            <div class="child-frame1">
              <h1 class="booking-confirmed">Booking Confirmed!</h1>
            </div>
            <h1 class="thank-you-for">Thank you for Booking With Us.</h1>
          </div>
        </div>
      </div>
      <div class="empty-frame1">
        <div class="footer7">$99</div>
        <div class="footer8">$99</div>
      </div>
    </section>
  </div>