<div class="duration-days-frame">
    <div class="rectangle-parent8">
        <div class="frame-child15"></div>
        <div class="taj-falaknuma-palace1">
            <h3 class="pride-inn9">{{booking._id}}</h3>
            <div class="mar-check-in">
                <div class="duration-long-container">
                    <span class="duration">CheckOutDate: </span>
                    <span class="long-2">{{booking.checkoutDate}}</span>
                </div>
                <div class="guests-4-adults-container">
                    <span class="guests2">Payment Method</span>
                    <span class="adults">: {{booking.paymentDetails}}</span>
                </div>
                <div class="cancel-reservation-btn">
                    <div class="check-in-12-container">
                        <span class="check-in2">Check In: </span>
                        <span class="mar-2024">{{booking.checkinDate}}</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="duration-days-frame-inner">
        <button class="frame-button">
            <div class="frame-child16"></div>
            <div class="cancel-reservation" >Cancel Reservation</div>
        </button>
    </div>
</div>
