<div class="notifications2">
    <section class="notification-container">
      
      <div class="footer-frame2">
        <div class="footer-frame-child"></div>
        <input
          class="all-notifications-text"
          placeholder="All Notifications"
          type="text"
        />

        <div class="date-vector">
          <div class="divider-line1">
            <div class="user-reviewed-notice">
              <div class="mar-vector">
                <div class="user-1-reviewed">User 1 reviewed the hotel</div>
                <div class="mar-2021">12 Mar 2021</div>
              </div>
              <img
                class="playstore-logo-icon"
                loading="lazy"
                alt=""
                src="../assets/public/vector3.svg"
              />
            </div>
          </div>
          <div class="divider-line2"></div>
          <div class="divider-line3">
            <div class="frame-parent8">
              <div class="user-2-has-done-the-booking-co-parent">
                <div class="user-2-has">
                  User 2 has done the booking confirmation
                </div>
                <div class="mar-20211">12 Mar 2021</div>
              </div>
              <div class="apple-store-logo-wrapper">
                <img
                  class="apple-store-logo"
                  alt=""
                  src="../assets/public/vector-12.svg"
                />
              </div>
            </div>
          </div>
          <div class="divider-line4"></div>
          <div class="divider-line5">
            <div class="frame-parent9">
              <div class="added-new-hotel-parent">
                <div class="added-new-hotel">Added New Hotel</div>
                <div class="mar-20212">12 Mar 2021</div>
              </div>
              <div class="vector-wrapper">
                <img
                  class="vector-icon3"
                  alt=""
                  src="../assets/public/vector-12.svg"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>