<div class="verification-text-child"></div>
            <div class="identity-text">
                <div class="avatar-frame">
                    <img class="carbonuser-avatar-filled-icon2" loading="lazy" alt=""
                        src="../assets/public/carbonuseravatarfilled.svg" />

                    <div class="upload-a-photo2">Upload a Photo</div>
                </div>
            </div>
            <div class="identity-group">
                <h3 class="identity-verification3">Identity Verification</h3>
                <div class="lorem-ipsum-dolor17">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor.
                </div>
            </div>