<div class="frame-initial-options">
  <div class="hotel-name-frame">
    <div class="hotel-pride-inn-frame">
      <h1 class="add-a-short">
        Add a short description of the Hotel Room.
      </h1>
    </div>
    <div class="phone-number-rooms-type">
      <div class="super-deluxe-frame">
        <img
          class="super-deluxe-frame-child"
          alt=""
          src="../public/rectangle-77.svg"
        />

        <b class="hotel-name2">Hotel Name</b>
        <div class="hotel-pride-inn">Hotel Pride Inn</div>
      </div>
      <div class="super-deluxe-frame1">
        <div class="super-deluxe-frame-item"></div>
        <b class="address2">Address</b>
        <div class="near-madhapur-bus-container">
          <p class="near-madhapur-bus">
            Near Madhapur Bus Stand , Hyderabad
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="next-button">
  <div class="footer-background-frame">
    <div class="social-media-links-frame1">
      <div class="social-media-links-frame-child"></div>
      <b class="phone-number1">Phone Number</b>
      <div class="contact-info-frame1">+91 7387066313</div>
    </div>
    <div class="social-media-links-frame2">
      <div class="social-media-links-frame-item"></div>
      <b class="rooms-type">Rooms Type</b>
      <div class="super-deluxe">Super DeLuxe</div>
    </div>
  </div>
  <div class="find-hotel-frame">
    <textarea
      class="choose-file"
      placeholder="Add Images"
      rows="{5}"
      cols="{10}"
    >
    </textarea>
    <div class="choose-a-file-or-drag-drop-i-wrapper">
      <div class="choose-a-file">
        Choose a file or drag & drop it here
      </div>
    </div>
  </div>
</div>
<div class="footer11">
  <button class="button5">
    <img class="button-inner" alt="" src="../public/rectangle-55.svg" />

    <b class="next">Next</b>
  </button>
</div>
