<div class="frame-initial-options">
  <div class="hotel-name-frame">
    <div class="hotel-pride-inn-frame">
      <h1 class="add-a-short">
        Add a short description of the Hotel Room.
      </h1>
    </div>
    <div class="phone-number-rooms-type">
      <div class="super-deluxe-frame">
        <img
          class="super-deluxe-frame-child"
          alt=""
          src="../public/rectangle-77.svg"
        />

        <b class="hotel-name2">Hotel Name</b>
        <div class="hotel-pride-inn"><input type="text" class="input-area" [(ngModel)]="hotelName" placeholder=" hotel Name"></div>
      </div>
      <div class="super-deluxe-frame1">
        <div class="super-deluxe-frame-item"></div>
        <b class="address2">Address</b>
        <div class="near-madhapur-bus-container">
          <p class="near-madhapur-bus">
            <input type="text"  class="input-area" placeholder="Address">
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="next-button">
  <div class="footer-background-frame">
    <div class="social-media-links-frame1">
      <div class="social-media-links-frame-child"></div>
      <b class="phone-number1">Phone Number</b>
    </div>
    <div class="social-media-links-frame2">
      <div class="social-media-links-frame-item"></div>
      <b class="rooms-type">Rooms Type</b>
      <div class="super-deluxe"><input type="text"  class="input-area" placeholder="ex: Super Deluxe "></div>
    </div>
  </div>
  <div class="find-hotel-frame">
    <input
      class="choose-file"
      placeholder="Add Images url"
      rows="{5}"
      cols="{10}"
    >
  </div>
</div>
<div class="footer11">
  <button class="button5">
    <img class="button-inner" alt="" src="../public/rectangle-55.svg" />

    <b class="next">Next</b>
  </button>
</div>
