<div class="error-404">
    
    <div class="error-404-child"></div>
    <div class="error-404-item"></div>
    <section class="frame-parent18">
      <div class="error-message-frame-parent">
        <div class="error-message-frame">
          <div class="empty-space">404</div>
        </div>
        <div class="oops-page-not-found">
          <div class="sorry-message">
            <div class="oops-page">OOPS ! PAGE NOT FOUND</div>
          </div>
          <div class="sorry-the-page-container">
            <p class="sorry-the-page">
              Sorry the page you are looking for does not exist, if you think
            </p>
            <p class="something-is-broken">
              something is broken, report a problem
            </p>
          </div>
        </div>
      </div>
      <div class="empty-frame2">
        <div class="dash-parent">
          <div class="dash">$99</div>
          <div class="dash1">$99</div>
        </div>
      </div>
    </section>
    <img
      class="background-frame-icon"
      loading="lazy"
      alt=""
      src="../assets/public/frame-165@2x.png"
    />
  </div>