.profileContainer {
  display: flex;
  flex-direction: column;
  background-color: #eff0f2;
  border-radius: 10px;
  width: 100px;
  height: 161px;
  position: absolute;
  align-items: center;
  top: 88px;
  justify-content: space-around;
  right: 31px;
  z-index: 1000;
  border: 3px solid white;
}


