.frame-child2 {
  height: 80px;
  width: 1366px;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  display: none;
  max-width: 100%;
}
.logo6 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  z-index: 1;
}
.logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-11xs);
}
.initial-options-icon3 {
  height: 59px;
  width: 109px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 1;
}
.rectangle-parent {
  align-self: stretch;
  background-color: var(--color-whitesmoke-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-55xl) var(--padding-4xs)
    var(--padding-57xl);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.search-bar-item {
  height: 70px;
  width: 968px;
  position: relative;
  border-radius: var(--br-16xl);
  background-color: var(--colors-white);
  display: none;
  max-width: 100%;
}
.location1,
.which-city-do1 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  z-index: 1;
}
.location1 {
  width: 97.5px;
}
.which-city-do1 {
  align-self: stretch;
  height: 25px;
  font-size: var(--paragraph-04-size);
  color: var(--color-silver);
  flex-shrink: 0;
  white-space: nowrap;
}
.location-parent {
  width: 273px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3px 0;
}
.line-div {
  width: 1px;
  height: 30px;
  position: relative;
  border-right: 1px solid var(--color-gainsboro-300);
  box-sizing: border-box;
  z-index: 1;
}
.line-wrapper {
  height: 33px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.add-dates3,
.check-in1 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  white-space: nowrap;
  z-index: 1;
}
.check-in1 {
  width: 97.5px;
}
.add-dates3 {
  height: 25px;
  flex: 1;
}
.add-dates-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-11xs);
  font-size: var(--paragraph-04-size);
  color: var(--color-silver);
}
.add-dates-wrapper,
.check-in-parent,
.frame-parent5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.check-in-parent {
  flex: 1;
  flex-direction: column;
  gap: 3px 0;
}
.frame-parent5 {
  width: 128px;
  flex-direction: row;
  gap: 0 20px;
}
.linevertical {
  width: 1px;
  height: 30px;
  position: relative;
  border-right: 1px solid var(--color-gainsboro-300);
  box-sizing: border-box;
  z-index: 1;
}
.checkinframe {
  height: 33px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.check-out3 {
  margin: 0;
}
.check-out2 {
  width: 97.5px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  white-space: nowrap;
  z-index: 1;
}
.add-dates5 {
  margin: 0;
}
.add-dates4 {
  height: 25px;
  flex: 1;
  position: relative;
  font-weight: 600;
  display: inline-block;
  white-space: nowrap;
  z-index: 1;
}
.adddatesframe,
.whichcitytext {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.whichcitytext {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-11xs);
  font-size: var(--paragraph-04-size);
  color: var(--color-silver);
}
.adddatesframe {
  flex: 1;
  flex-direction: column;
  gap: 3px 0;
}
.filterbtnframe {
  width: 1px;
  height: 30px;
  position: relative;
  border-right: 1px solid var(--color-gainsboro-300);
  box-sizing: border-box;
  z-index: 1;
}
.checkoutframe,
.roundsearchframe {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.roundsearchframe {
  height: 33px;
  flex-direction: column;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.checkoutframe {
  flex: 1;
  flex-direction: row;
  gap: 0 14px;
}
.add-guests1,
.guests1 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  z-index: 1;
}
.guests1 {
  width: 97.5px;
}
.add-guests1 {
  align-self: stretch;
  height: 25px;
  font-size: var(--paragraph-04-size);
  color: var(--color-silver);
  flex-shrink: 0;
  white-space: nowrap;
}
.featherheartpropertyframe,
.framesliders {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.featherheartpropertyframe {
  width: 118px;
  flex-direction: column;
  gap: 3px 0;
}
.framesliders {
  flex: 1;
  flex-direction: row;
  gap: 0 19px;
  max-width: 100%;
}
.round-search-icon1 {
  width: 49px;
  height: 49px;
  position: relative;
  z-index: 1;
}
.prideinnheaderframe {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-5xs);
}
.frame-parent4,
.framesliders-parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 0 40px;
  max-width: 100%;
}
.frame-parent4 {
  gap: 0 47px;
}
.filter-btn-child,
.search-bar1 {
  background-color: var(--colors-white);
  box-sizing: border-box;
}
.search-bar1 {
  margin-top: -5px;
  flex: 1;
  border-radius: var(--br-16xl);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-xl) var(--padding-6xs)
    var(--padding-18xl);
  gap: var(--gap-13xl);
  max-width: 100%;
}
.filter-btn-child {
  height: 48px;
  width: 146px;
  position: relative;
  border-radius: var(--br-5xl);
  border: 1px solid var(--color-darkgray);
  display: none;
}
.filter-icon,
.filters {
  position: relative;
  z-index: 1;
}
.filter-icon {
  height: 23px;
  width: 27px;
  overflow: hidden;
  flex-shrink: 0;
}
.filters {
  flex: 1;
  font-size: var(--paragraph-04-size);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--color-darkslategray);
  text-align: left;
}
.filter-btn,
.types-and-filters {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
}
.filter-btn {
  cursor: pointer;
  border: 1px solid var(--color-darkgray);
  padding: var(--padding-xs) var(--padding-13xl) var(--padding-smi)
    var(--padding-12xl);
  background-color: var(--colors-white);
  width: 146px;
  border-radius: var(--br-5xl);
  align-items: center;
  gap: var(--gap-7xs);
}
.filter-btn:hover {
  background-color: var(--color-gainsboro-100);
  border: 1px solid var(--color-dimgray-200);
  box-sizing: border-box;
}
.types-and-filters {
  align-self: stretch;
  height: 75px;
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-start;
  padding: 0 var(--padding-xs) var(--padding-3xs);
  gap: 0 77px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-darkslategray);
  font-family: var(--font-montserrat);
}
.property-col-image4 {
  width: 382px;
  height: 340px;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
  z-index: 0;
}
.featherheart-icon3 {
  width: 30px;
  height: 30px;
  position: absolute;
  margin: 0 !important;
  top: 21px;
  right: 18px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.span3,
.span4 {
  font-weight: 600;
}
.div9,
.slider-indicators-icon3 {
  position: relative;
  flex-shrink: 0;
  z-index: 1;
}
.div9 {
  height: 27px;
  width: 188px;
  display: inline-block;
}
.slider-indicators-icon3 {
  align-self: stretch;
  height: 10px;
  max-width: 100%;
  overflow: hidden;
}
.property-frames {
  width: 55px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs);
  box-sizing: border-box;
}
.sliderindicatorssliderindicato {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.featherheartfeatherheartfeathe {
  align-self: stretch;
  border-radius: var(--br-xs);
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-280xl) var(--padding-2xl) var(--padding-sm)
    var(--padding-3xl);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
}
.madhapur-hyderabad,
.pride-inn {
  position: relative;
  display: inline-block;
}
.pride-inn {
  width: 366px;
  max-width: 100%;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
}
.madhapur-hyderabad {
  align-self: stretch;
  height: 24px;
  font-size: var(--paragraph-04-size);
  font-weight: 500;
  color: var(--color-darkgray);
  flex-shrink: 0;
}
.pride-inn-frames,
.property-1 {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pride-inn-frames {
  margin-right: -71px;
  width: 453px;
  gap: 5px 0;
  max-width: 119%;
  color: var(--color-darkslategray);
}
.property-1 {
  width: 382px;
  overflow: hidden;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
  gap: 30px 0;
  cursor: pointer;
}
.property-col-image5 {
  width: 382px;
  height: 340px;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
  z-index: 0;
}
.featherheart-icon4 {
  width: 30px;
  height: 30px;
  position: absolute;
  margin: 0 !important;
  top: 21px;
  right: 18px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.span5,
.span6 {
  font-weight: 600;
}
.div10,
.slider-indicators-icon4 {
  position: relative;
  flex-shrink: 0;
  z-index: 1;
}
.div10 {
  height: 27px;
  width: 188px;
  display: inline-block;
}
.slider-indicators-icon4 {
  align-self: stretch;
  height: 10px;
  max-width: 100%;
  overflow: hidden;
}
.slider-indicators-wrapper {
  width: 55px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs);
  box-sizing: border-box;
}
.group,
.property-col-image-parent {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.group {
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.property-col-image-parent {
  border-radius: var(--br-xs);
  background-color: var(--color-gainsboro-200);
  flex-direction: column;
  justify-content: flex-end;
  padding: var(--padding-280xl) var(--padding-2xl) var(--padding-sm)
    var(--padding-3xl);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
}
.madhapur-hyderabad1,
.pride-inn1 {
  position: relative;
  display: inline-block;
}
.pride-inn1 {
  width: 366px;
  max-width: 100%;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
}
.madhapur-hyderabad1 {
  align-self: stretch;
  height: 24px;
  font-size: var(--paragraph-04-size);
  font-weight: 500;
  color: var(--color-darkgray);
  flex-shrink: 0;
}
.pride-inn-parent,
.property-2 {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pride-inn-parent {
  margin-right: -71px;
  width: 453px;
  gap: 5px 0;
  max-width: 119%;
  color: var(--color-darkslategray);
}
.property-2 {
  width: 382px;
  overflow: hidden;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
  gap: 30px 0;
}
.property-col-image6 {
  width: 382px;
  height: 340px;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
  z-index: 0;
}
.featherheart-icon5 {
  width: 30px;
  height: 30px;
  position: absolute;
  margin: 0 !important;
  top: 21px;
  right: 18px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.span7,
.span8 {
  font-weight: 600;
}
.div11,
.slider-indicators-icon5 {
  position: relative;
  flex-shrink: 0;
  z-index: 1;
}
.div11 {
  height: 27px;
  width: 188px;
  display: inline-block;
}
.slider-indicators-icon5 {
  align-self: stretch;
  height: 10px;
  max-width: 100%;
  overflow: hidden;
}
.slider-indicators-wrapper1 {
  width: 55px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.property-col-image-group {
  align-self: stretch;
  border-radius: var(--br-xs);
  background-color: var(--color-gainsboro-200);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 303px var(--padding-2xl) var(--padding-3xs) var(--padding-mini);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
}
.madhapur-hyderabad2,
.pride-inn2 {
  position: relative;
  display: inline-block;
}
.pride-inn2 {
  width: 356px;
  max-width: 100%;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
}
.madhapur-hyderabad2 {
  align-self: stretch;
  height: 24px;
  font-size: var(--paragraph-04-size);
  font-weight: 500;
  color: var(--color-darkgray);
  flex-shrink: 0;
}
.pride-inn-group,
.property-3 {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pride-inn-group {
  width: 453px;
  gap: 5px 0;
  max-width: 119%;
  color: var(--color-darkslategray);
}
.property-3 {
  width: 382px;
  overflow: hidden;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
  gap: 30px 0;
}
.property-col-image7 {
  width: 382px;
  height: 340px;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
  z-index: 0;
}
.featherheart-icon6 {
  width: 30px;
  height: 30px;
  position: absolute;
  margin: 0 !important;
  top: 21px;
  right: 18px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.span10,
.span9 {
  font-weight: 600;
}
.div12,
.slider-indicators-icon6 {
  position: relative;
  flex-shrink: 0;
  z-index: 1;
}
.div12 {
  height: 27px;
  width: 188px;
  display: inline-block;
}
.slider-indicators-icon6 {
  align-self: stretch;
  height: 10px;
  max-width: 100%;
  overflow: hidden;
}
.slider-indicators-wrapper2 {
  width: 55px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs);
  box-sizing: border-box;
}
.parent1,
.property-col-image-container {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.parent1 {
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.property-col-image-container {
  border-radius: var(--br-xs);
  background-color: var(--color-gainsboro-200);
  flex-direction: column;
  justify-content: flex-end;
  padding: var(--padding-280xl) var(--padding-2xl) var(--padding-sm)
    var(--padding-3xl);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
}
.madhapur-hyderabad3,
.pride-inn3 {
  position: relative;
  display: inline-block;
}
.pride-inn3 {
  width: 366px;
  max-width: 100%;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
}
.madhapur-hyderabad3 {
  align-self: stretch;
  height: 24px;
  font-size: var(--paragraph-04-size);
  font-weight: 500;
  color: var(--color-darkgray);
  flex-shrink: 0;
}
.pride-inn-container,
.property-4 {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pride-inn-container {
  margin-right: -71px;
  width: 453px;
  gap: 5px 0;
  max-width: 119%;
  color: var(--color-darkslategray);
}
.property-4 {
  width: 382px;
  overflow: hidden;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
  gap: 30px 0;
}
.property-col-image8 {
  width: 382px;
  height: 340px;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
  z-index: 0;
}
.featherheart-icon7 {
  width: 30px;
  height: 30px;
  position: absolute;
  margin: 0 !important;
  top: 21px;
  right: 18px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.span11,
.span12 {
  font-weight: 600;
}
.div13,
.slider-indicators-icon7 {
  position: relative;
  flex-shrink: 0;
  z-index: 1;
}
.div13 {
  height: 27px;
  width: 188px;
  display: inline-block;
}
.slider-indicators-icon7 {
  align-self: stretch;
  height: 10px;
  max-width: 100%;
  overflow: hidden;
}
.slider-indicators-wrapper3 {
  width: 55px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs);
  box-sizing: border-box;
}
.parent2,
.property-col-image-parent1 {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.parent2 {
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.property-col-image-parent1 {
  border-radius: var(--br-xs);
  background-color: var(--color-gainsboro-200);
  flex-direction: column;
  justify-content: flex-end;
  padding: var(--padding-280xl) var(--padding-2xl) var(--padding-sm)
    var(--padding-3xl);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
}
.madhapur-hyderabad4,
.pride-inn4 {
  position: relative;
  display: inline-block;
}
.pride-inn4 {
  width: 366px;
  max-width: 100%;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
}
.madhapur-hyderabad4 {
  align-self: stretch;
  height: 24px;
  font-size: var(--paragraph-04-size);
  font-weight: 500;
  color: var(--color-darkgray);
  flex-shrink: 0;
}
.pride-inn-parent1,
.property-5 {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pride-inn-parent1 {
  margin-right: -71px;
  width: 453px;
  gap: 5px 0;
  max-width: 119%;
  color: var(--color-darkslategray);
}
.property-5 {
  width: 382px;
  overflow: hidden;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
  gap: 30px 0;
}
.property-col-image9 {
  width: 382px;
  height: 340px;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
  z-index: 0;
}
.featherheart-icon8 {
  width: 30px;
  height: 30px;
  position: absolute;
  margin: 0 !important;
  top: 21px;
  right: 18px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.span13,
.span14 {
  font-weight: 600;
}
.div14,
.slider-indicators-icon8 {
  position: relative;
  flex-shrink: 0;
  z-index: 1;
}
.div14 {
  height: 27px;
  width: 188px;
  display: inline-block;
}
.slider-indicators-icon8 {
  align-self: stretch;
  height: 10px;
  max-width: 100%;
  overflow: hidden;
}
.slider-indicators-wrapper4 {
  width: 55px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs);
  box-sizing: border-box;
}
.parent3,
.property-col-image-parent2 {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.parent3 {
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.property-col-image-parent2 {
  border-radius: var(--br-xs);
  background-color: var(--color-gainsboro-200);
  flex-direction: column;
  justify-content: flex-end;
  padding: var(--padding-280xl) var(--padding-2xl) var(--padding-sm)
    var(--padding-3xl);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
}
.madhapur-hyderabad5,
.pride-inn5 {
  position: relative;
  display: inline-block;
}
.pride-inn5 {
  width: 356px;
  max-width: 100%;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
}
.madhapur-hyderabad5 {
  align-self: stretch;
  height: 24px;
  font-size: var(--paragraph-04-size);
  font-weight: 500;
  color: var(--color-darkgray);
  flex-shrink: 0;
}
.pride-inn-parent2,
.property-6 {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pride-inn-parent2 {
  margin-right: -71px;
  width: 453px;
  gap: 5px 0;
  max-width: 119%;
  color: var(--color-darkslategray);
}
.property-6 {
  width: 382px;
  overflow: hidden;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
  gap: 30px 0;
}
.property-col-image10 {
  width: 382px;
  height: 340px;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
  z-index: 0;
}
.featherheart-icon9 {
  width: 30px;
  height: 30px;
  position: absolute;
  margin: 0 !important;
  top: 21px;
  right: 18px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.span15,
.span16 {
  font-weight: 600;
}
.div15,
.slider-indicators-icon9 {
  position: relative;
  flex-shrink: 0;
  z-index: 1;
}
.div15 {
  height: 27px;
  width: 188px;
  display: inline-block;
}
.slider-indicators-icon9 {
  align-self: stretch;
  height: 10px;
  max-width: 100%;
  overflow: hidden;
}
.slider-indicators-wrapper5 {
  width: 55px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs);
  box-sizing: border-box;
}
.parent4,
.property-col-image-parent3 {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.parent4 {
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.property-col-image-parent3 {
  border-radius: var(--br-xs);
  background-color: var(--color-gainsboro-200);
  flex-direction: column;
  justify-content: flex-end;
  padding: var(--padding-280xl) var(--padding-2xl) var(--padding-sm)
    var(--padding-3xl);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
}
.madhapur-hyderabad6,
.pride-inn6 {
  position: relative;
  display: inline-block;
}
.pride-inn6 {
  width: 366px;
  max-width: 100%;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
}
.madhapur-hyderabad6 {
  align-self: stretch;
  height: 24px;
  font-size: var(--paragraph-04-size);
  font-weight: 500;
  color: var(--color-darkgray);
  flex-shrink: 0;
}
.pride-inn-parent3,
.property-7 {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pride-inn-parent3 {
  margin-right: -71px;
  width: 453px;
  gap: 5px 0;
  max-width: 119%;
  color: var(--color-darkslategray);
}
.property-7 {
  width: 382px;
  overflow: hidden;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
  gap: 30px 0;
}
.property-col-image11 {
  width: 382px;
  height: 340px;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
  z-index: 0;
}
.featherheart-icon10 {
  width: 30px;
  height: 30px;
  position: absolute;
  margin: 0 !important;
  top: 21px;
  right: 18px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.span17,
.span18 {
  font-weight: 600;
}
.div16,
.slider-indicators-icon10 {
  position: relative;
  flex-shrink: 0;
  z-index: 1;
}
.div16 {
  height: 27px;
  width: 188px;
  display: inline-block;
}
.slider-indicators-icon10 {
  align-self: stretch;
  height: 10px;
  max-width: 100%;
  overflow: hidden;
}
.slider-indicators-wrapper6 {
  width: 55px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs);
  box-sizing: border-box;
}
.parent5,
.property-col-image-parent4 {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.parent5 {
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.property-col-image-parent4 {
  border-radius: var(--br-xs);
  background-color: var(--color-gainsboro-200);
  flex-direction: column;
  justify-content: flex-end;
  padding: var(--padding-280xl) var(--padding-2xl) var(--padding-sm)
    var(--padding-3xl);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
}
.madhapur-hyderabad7,
.pride-inn7 {
  position: relative;
  display: inline-block;
}
.pride-inn7 {
  width: 366px;
  max-width: 100%;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
}
.madhapur-hyderabad7 {
  align-self: stretch;
  height: 24px;
  font-size: var(--paragraph-04-size);
  font-weight: 500;
  color: var(--color-darkgray);
  flex-shrink: 0;
}
.pride-inn-parent4,
.property-8 {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pride-inn-parent4 {
  margin-right: -71px;
  width: 453px;
  gap: 5px 0;
  max-width: 119%;
  color: var(--color-darkslategray);
}
.property-8 {
  width: 382px;
  overflow: hidden;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
  gap: 30px 0;
}
.property-col-image12 {
  width: 382px;
  height: 340px;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--color-gainsboro-200);
  display: none;
  max-width: 100%;
  z-index: 0;
}
.featherheart-icon11 {
  width: 30px;
  height: 30px;
  position: absolute;
  margin: 0 !important;
  top: 21px;
  right: 18px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.span19,
.span20 {
  font-weight: 600;
}
.div17,
.slider-indicators-icon11 {
  position: relative;
  flex-shrink: 0;
  z-index: 1;
}
.div17 {
  height: 27px;
  width: 188px;
  display: inline-block;
}
.slider-indicators-icon11 {
  align-self: stretch;
  height: 10px;
  max-width: 100%;
  overflow: hidden;
}
.slider-indicators-wrapper7 {
  width: 55px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs);
  box-sizing: border-box;
}
.parent6,
.property-col-image-parent5 {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.parent6 {
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.property-col-image-parent5 {
  border-radius: var(--br-xs);
  background-color: var(--color-gainsboro-200);
  flex-direction: column;
  justify-content: flex-end;
  padding: var(--padding-280xl) var(--padding-2xl) var(--padding-sm)
    var(--padding-3xl);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
}
.madhapur-hyderabad8,
.pride-inn8 {
  position: relative;
  display: inline-block;
}
.pride-inn8 {
  width: 356px;
  max-width: 100%;
  box-sizing: border-box;
  padding-right: var(--padding-xl);
}
.madhapur-hyderabad8 {
  align-self: stretch;
  height: 24px;
  font-size: var(--paragraph-04-size);
  font-weight: 500;
  color: var(--color-darkgray);
  flex-shrink: 0;
}
.pride-inn-parent5,
.property-9 {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pride-inn-parent5 {
  margin-right: -71px;
  width: 453px;
  gap: 5px 0;
  max-width: 119%;
  color: var(--color-darkslategray);
}
.property-9 {
  width: 382px;
  overflow: hidden;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
  gap: 30px 0;
}
.play-storeappstoreiconionlogoa {
  width: 1215px;
  overflow-x: auto;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 var(--padding-5xs) 0 0;
  box-sizing: border-box;
  gap: 29px 25.5px;
  min-height: 1352px;
}
.play-storeappstoreiconionlogoa,
.properties-inner,
.types-and-filters-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.types-and-filters-parent {
  flex: 1;
  flex-direction: column;
  gap: 31px 0;
}
.properties-inner {
  width: 1224px;
  flex-direction: row;
  padding: 0 0 var(--padding-110xl) var(--padding-4xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-darkgray);
  font-family: var(--font-montserrat);
}
.paginations-or-load {
  height: 40px;
  width: 336px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.rentalguidestext {
  width: 454px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-xl) var(--padding-25xl);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--button-03-size);
  color: var(--color-darkslategray);
}
.footer-bg-icon10,
.footer-bg-icon11,
.footer-bg-icon9 {
  position: absolute;
  top: 0;
  left: -0.5px;
  width: 1376px;
  height: 648px;
}
.footer-bg-icon10,
.footer-bg-icon11 {
  z-index: 1;
}
.footer-bg-icon11 {
  z-index: 2;
}
.logo7,
.lorem-ipsum-dolor11 {
  position: absolute;
  left: 87px;
  display: inline-block;
  z-index: 3;
}
.logo7 {
  margin: 0;
  top: 72px;
  font-size: var(--font-size-31xl);
  font-weight: 800;
  font-family: inherit;
  width: 166px;
  height: 56px;
}
.lorem-ipsum-dolor11 {
  top: 159px;
  line-height: 20px;
  color: var(--color-darkgray);
  white-space: pre-wrap;
  width: 382px;
  height: 96px;
}
.playstore-child1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-gainsboro-200);
  width: 100%;
  height: 100%;
  display: none;
}
.ionlogo-google-playstore-icon3 {
  position: absolute;
  top: 15px;
  left: 29px;
  width: 22px;
  height: 22px;
  overflow: hidden;
  z-index: 1;
}
.playstore7 {
  position: absolute;
  top: 18px;
  left: 66px;
  font-size: var(--font-size-mini);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--color-darkslategray);
  text-align: left;
  display: inline-block;
  width: 86px;
  height: 26px;
  z-index: 1;
}
.applestore-child1,
.playstore6 {
  position: absolute;
  border-radius: var(--br-7xs);
  background-color: var(--color-gainsboro-200);
}
.playstore6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  top: 262px;
  left: 87px;
  width: 172px;
  height: 52px;
  z-index: 3;
}
.applestore-child1 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.applestore7 {
  position: absolute;
  top: 18px;
  left: 60px;
  font-size: var(--font-size-mini);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--color-darkslategray);
  text-align: left;
  display: inline-block;
  width: 94px;
  height: 26px;
  z-index: 1;
}
.ionlogo-apple-appstore-icon3 {
  position: absolute;
  top: 15px;
  left: 21px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  z-index: 1;
}
.applestore6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gainsboro-200);
  position: absolute;
  top: 262px;
  left: 272px;
  border-radius: var(--br-7xs);
  width: 172px;
  height: 52px;
  z-index: 3;
}
.about-us3,
.company3,
.legal-information3 {
  position: absolute;
  left: 517px;
  line-height: 20px;
  display: inline-block;
  height: 28px;
  z-index: 3;
}
.company3 {
  top: 86px;
  font-size: var(--font-size-lg);
  width: 176px;
}
.about-us3,
.legal-information3 {
  top: 134px;
  font-weight: 500;
  width: 87px;
}
.legal-information3 {
  top: 167px;
  width: 153px;
}
.contact-us3 {
  top: 200px;
  left: 517px;
  font-weight: 500;
  width: 103px;
}
.blogs3,
.contact-info5,
.contact-us3 {
  position: absolute;
  line-height: 20px;
  display: inline-block;
  height: 28px;
  z-index: 3;
}
.blogs3 {
  top: 233px;
  left: 517px;
  font-weight: 500;
  width: 57px;
}
.contact-info5 {
  top: 89px;
  left: 1025px;
  font-size: var(--font-size-lg);
  width: 153px;
}
.email-companyemailcom3,
.location-100-smart3,
.phone-12345678903 {
  position: absolute;
  top: 138px;
  left: 1025px;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  width: 157px;
  height: 21px;
  z-index: 3;
}
.email-companyemailcom3,
.location-100-smart3 {
  top: 170px;
  width: 224px;
}
.location-100-smart3 {
  top: 202px;
  width: 294px;
}
.social-media-links3 {
  position: absolute;
  top: 250px;
  left: 1016px;
  width: 191px;
  height: 38px;
  overflow: hidden;
  z-index: 3;
}
.faqs3,
.find-a-hotel3,
.help-center3,
.rental-guides3,
.why-us3 {
  position: absolute;
  left: 778px;
  line-height: 20px;
  display: inline-block;
  height: 28px;
  z-index: 3;
}
.help-center3 {
  top: 89px;
  font-size: var(--font-size-lg);
  width: 153px;
}
.faqs3,
.find-a-hotel3,
.rental-guides3,
.why-us3 {
  top: 137px;
  font-weight: 500;
  width: 132px;
}
.faqs3,
.rental-guides3,
.why-us3 {
  top: 170px;
  width: 103px;
}
.faqs3,
.rental-guides3 {
  top: 201px;
  width: 57px;
}
.rental-guides3 {
  top: 236px;
  width: 132px;
}
.l-o-g-otext,
.logo-and-text-frames {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.footer-bg-frames {
  margin-bottom: -205px;
  height: 648px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.footer3,
.properties {
  background-color: var(--colors-white);
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  text-align: left;
  font-family: var(--font-montserrat);
}
.footer3 {
  margin-left: -2.5px;
  align-self: stretch;
  height: 443px;
  flex-shrink: 0;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
  font-size: var(--font-size-mini);
  color: var(--color-darkslategray);
}
.properties {
  width: 100%;
  position: relative;
  border-radius: var(--br-xl);
  flex-direction: column;
  align-items: center;
  gap: 47px 0;
  letter-spacing: normal;
  font-size: var(--font-size-16xl);
  color: var(--color-crimson);
}
@media screen and (max-width: 1200px) {
  .properties-inner {
    padding-bottom: var(--padding-65xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .logo6 {
    font-size: var(--font-size-9xl);
  }
  .location-parent {
    display: none;
  }
  .properties-inner {
    padding-bottom: 55px;
    box-sizing: border-box;
  }
  .logo7 {
    font-size: var(--font-size-21xl);
  }
}
@media screen and (max-width: 750px) {
  .rectangle-parent {
    padding-left: var(--padding-19xl);
    padding-right: var(--padding-18xl);
    box-sizing: border-box;
  }
  .which-city-do1 {
    display: none;
  }
  .location-parent {
    width: 1.1000000000000227px;
  }
  .frame-parent4 {
    gap: 0 47px;
  }
  .search-bar1 {
    gap: var(--gap-13xl);
  }
  .types-and-filters {
    gap: 0 77px;
  }
  .types-and-filters-parent {
    gap: 31px 0;
  }
  .properties {
    gap: 47px 0;
  }
}
@media screen and (max-width: 450px) {
  .logo6 {
    font-size: var(--font-size-2xl);
  }
  .rectangle-parent {
    flex-wrap: wrap;
  }
  .check-in-parent {
    display: none;
  }
  .frame-parent5 {
    width: 20px;
  }
  .adddatesframe,
  .featherheartpropertyframe {
    display: none;
  }
  .framesliders-parent {
    gap: 0 40px;
  }
  .types-and-filters {
    gap: 0 77px;
  }
  .container,
  .group,
  .parent1,
  .parent2,
  .parent3,
  .parent4,
  .parent5,
  .parent6,
  .sliderindicatorssliderindicato {
    flex-wrap: wrap;
  }
  .properties-inner {
    padding-bottom: var(--padding-17xl);
    box-sizing: border-box;
  }
  .logo7 {
    font-size: var(--font-size-11xl);
  }
}
