

<!-- app.component.html -->
<div class="container">
    <div class="left-sidebar">
      <ul>
        <li><a (click)="showComponent('hotel')">Manage Hotel</a></li>
        <li><a (click)="showComponent('wallet')">Wallet Management</a></li>
        <li><a (click)="showComponent('room')">Admin Room</a></li>
      </ul>
    </div>
    <div class="remaining-page">
      <div *ngIf="selectedComponent === 'hotel'">
        <!-- Content for Manage Hotel component -->
        <app-manage-hotel></app-manage-hotel>
      </div>
      <div *ngIf="selectedComponent === 'wallet'">
        <!-- Content for Wallet Management component -->
        <app-wallet-management></app-wallet-management>
      </div>
      <div *ngIf="selectedComponent === 'room'">
        <!-- Content for Wallet Management component -->
        <app-admin-room> </app-admin-room>
      </div>
    </div>
  </div>
  