<div class="check-in-frame1">
    <div class="frame-parent19">
        <!-- <div class="vector-container">
            <img class="frame-child14" loading="lazy" alt="" src="../assets/public/line-9.svg" />
        </div> -->
        <h1 class="bookings">Bookings</h1>
    </div>
    <div class="booking-timeline">
        <div class="upcoming-past-section">
            <div class="upcoming-past">
                <h3 class="upcoming">Upcoming</h3>
                <h3 class="past">Past</h3>
            </div>
        </div>
        <div class="seperator-line">
            <div class="rectangle-container1"></div>
            <div class="guest-count-frame"></div>
        </div>
    </div>

    @for (booking of upcomingBookings; track $index) {
        <app-bookingsbox class="pride-inn-frame" [booking]="booking" ></app-bookingsbox>
    }

</div>
