<!-- <app-navbar></app-navbar> -->
<div class="search">
    <section class="background-frame">
        <div class="hotel-name-parent">
            <h2 class="hotel-name">{{hotel?.hotelName}}</h2>
            <div class="frame-wrapper">
                <div class="hpr-text-parent">
                    <div class="hpr-text">
                        <h3 class="hotel-description"><b style="color: black;">Hotel Amenities:</b>
                            {{hotel?.hotelAmenities}}</h3>
                        <div class="lorem-ipsum-dolor1"><b style="color: black;">Address :</b>
                            {{hotel?.hotelAddress}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="room-types-frame">
        <div class="footer-bg-vector">
            <div class="logo-text">
                <div class="initial-options-frame1">
                    <div class="property-col-image">
                        <div *ngFor="let photo of hotel?.hotelPhotos | keyvalue" style="margin-bottom: 10px;" >
                            <img [src]="photo.value" [alt]="photo.key" style="max-width: 100%; height: auto;" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="room-types-text-wrapper">
        <div class="room-types-text">
            <div class="property-frame">
                <h3 class="room-types">Room Types</h3>
            </div>
            <div class="slider-indicators">
                <div class="property-frame-1" id="propertyFrame1"  *ngFor="let room of fetchedRooms; let i = index">
                    <div class="property-large">
                        <img class="vector" src={{room.roomPhotos}} (click)="naviagteroomdetail()">
                        <div class="hotel-type-indicator">
                            <div class="super-deluxe-suites-parent">
                                <b>{{roomDatas[i]?.roomType}}</b>
                                <div class="bedroom-type-frame">
                                    <div class="car-icon-frame">
                                        <div class="div2"><b style="color: black;">Price : </b>{{room.roomPrice}}</div>
                                        <img class="car-icon" loading="lazy" alt="" 
                                            src="../assets/public/car-icon.svg" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- <app-footer></app-footer> -->
