.header-background2 {
  height: 104px;
  width: 1366px;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  display: none;
  max-width: 100%;
}
.logo12 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  z-index: 1;
}
.root-f-r-a-m-e {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-11xs);
}
.akar-iconsglobe4 {
  height: 22px;
  width: 22px;
  position: relative;
  display: none;
}
.initial-options-icon6 {
  height: 59px;
  width: 109px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.frame-child8,
.header-background-container {
  background-color: var(--color-whitesmoke-100);
}
.header-background-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-55xl) var(--padding-14xl)
    var(--padding-57xl);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-16xl);
  color: var(--color-crimson);
  font-family: var(--font-montserrat);
}
.frame-child8 {
  width: 279px;
  height: 566px;
  position: relative;
  border-radius: var(--br-5xs);
  display: none;
}
.carbonuser-avatar-filled-icon1 {
  width: 163px;
  height: 163px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.upload-a-photo1 {
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.upload-button,
.user-avatar {
  display: flex;
  justify-content: flex-start;
}
.upload-button {
  flex-direction: column;
  align-items: center;
  gap: 5px 0;
}
.user-avatar {
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-25xl) 0 var(--padding-xl);
}
.identity-verification2,
.lorem-ipsum-dolor15 {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.identity-verification2 {
  align-self: stretch;
  height: 30px;
}
.lorem-ipsum-dolor15 {
  width: 253px;
  height: 72px;
  font-size: var(--paragraph-04-size);
  line-height: 20px;
  color: var(--color-darkgray);
  box-sizing: border-box;
  padding-right: var(--padding-sm);
}
.greeting-frame {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px 0;
  font-size: var(--font-size-lg);
}
.admin,
.john-doe1 {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.john-doe1 {
  margin: 0;
  width: 123px;
  height: 44px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  flex-shrink: 0;
}
.admin {
  height: 22px;
  flex: 1;
  font-weight: 500;
}
.akar-iconscheck2 {
  height: 19px;
  width: 19px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: -2px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.john-doe-label {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-8xl);
  position: relative;
  font-size: var(--font-size-mini);
  color: var(--color-darkgray);
}
.edit-profile-button {
  width: 196px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.admin-frame,
.edit-profile-button,
.rectangle-parent4 {
  display: flex;
  justify-content: flex-start;
}
.admin-frame {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  font-size: var(--heading-04-size);
}
.rectangle-parent4 {
  width: 279px;
  border-radius: var(--br-5xs);
  background-color: var(--color-whitesmoke-100);
  flex-direction: column;
  align-items: center;
  padding: var(--padding-21xl) var(--padding-12xs) 81px var(--padding-6xl);
  box-sizing: border-box;
  gap: 42px 0;
}
.bordered-btn-inner,
.hello-john-doe2 {
  position: relative;
  box-sizing: border-box;
}
.hello-john-doe2 {
  margin: 0;
  width: 287px;
  height: 44px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  padding-right: var(--padding-xl);
}
.bordered-btn-inner {
  height: 54px;
  width: 158px;
  border-radius: var(--br-7xs);
  background-color: var(--colors-white);
  border: 1px solid var(--color-darkslategray);
  display: none;
}
.edit-profile {
  height: 22px;
  position: relative;
  font-size: var(--font-size-mini);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--color-darkslategray);
  text-align: left;
  display: inline-block;
  z-index: 1;
}
.bordered-btn5 {
  cursor: pointer;
  border: 1px solid var(--color-darkslategray);
  padding: var(--padding-lg) var(--padding-10xl) var(--padding-sm)
    var(--padding-18xl);
  background-color: var(--colors-white);
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  white-space: nowrap;
}
.bordered-btn5:hover {
  background-color: var(--color-gainsboro-100);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
}
.edit-profile-btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) var(--padding-9xl);
}
.bordered-button-child {
  height: 1px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.bordered-button1 {
  align-self: stretch;
  height: 0;
  flex-direction: row;
  padding: 0 0 0 var(--padding-11xs);
  box-sizing: border-box;
  max-width: 100%;
}
.bordered-button1,
.frame-parent10,
.header-frame1,
.welcome-frame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.header-frame1 {
  align-self: stretch;
  flex-direction: column;
  gap: 45px 0;
  max-width: 100%;
}
.frame-parent10,
.welcome-frame {
  flex: 1;
}
.welcome-frame {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
  max-width: calc(100% - 321px);
  font-size: var(--font-size-9xl);
  color: var(--color-crimson);
}
.frame-parent10 {
  flex-direction: row;
  gap: 0 42px;
  max-width: 100%;
}
.profile-admin,
.settings-frame {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.settings-frame {
  width: 1206px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-9xs) 0 0;
  max-width: 100%;
  text-align: left;
  font-size: var(--button-03-size);
  color: var(--color-darkslategray);
  font-family: var(--font-montserrat);
}
.profile-admin {
  width: 100%;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--colors-white);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: 0 0 251px;
  gap: 73px 0;
  letter-spacing: normal;
}
@media screen and (max-width: 725px) {
  .header-background-container {
    padding-left: var(--padding-19xl);
    padding-right: var(--padding-18xl);
    box-sizing: border-box;
  }
  .rectangle-parent4 {
    display: none;
  }
  .welcome-frame {
    max-width: 100%;
  }
  .frame-parent10 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .profile-admin {
    gap: 73px 0;
  }
}
@media screen and (max-width: 650px) {
  .rectangle-parent4 {
    padding-top: var(--padding-7xl);
    padding-bottom: var(--padding-34xl);
    box-sizing: border-box;
  }
  .frame-parent10 {
    gap: 0 42px;
  }
}
@media screen and (max-width: 450px) {
  .john-doe1 {
    font-size: var(--font-size-lg);
  }
  .rectangle-parent4 {
    gap: 42px 0;
  }
  .hello-john-doe2 {
    font-size: var(--heading-04-size);
  }
  .header-frame1 {
    gap: 45px 0;
  }
  .profile-admin {
    gap: 73px 0;
  }
}
