<div class="container">
    <div class="login-title">
      <span class="title">Login</span>
    </div>
    <div class="divider"></div>
    <div class="input-container">
      <div class="email-label">Email</div>
      <input type="text" class="input-field" placeholder="Example@gmail.com">
      <div class="password-label">Password</div>
      <input type="password" class="input-field">
      <span class="forgot-password">Forgot password?</span>
    </div>
    <button class="login-button">Continue</button>
    <div class="signup-text">
      Don't have an account? <a href="#">Sign Up</a>
    </div>
  </div>