*{
  font-family: 'Roboto';
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
  }
  
  .container {
    width: 500px;
    height: 470px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    padding: 50px;
  }
  
  .login-title {
    text-align: center;
  }
  
  .title {
    color: #FF3366;
    font-size: 31px;
    font-weight: 700;
    position: relative;
    left: -210px;

  }
  
  .input-container {
    margin-top: 50px;
    margin-left: 10%;
  }
  
  .email-label,
  .password-label {
    color: black;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
  }
  
  .input-field {
    width: 85%;
    padding: 10px;
    border: 1px rgba(72.25, 72.25, 72.25, 0.75) solid;
    border-radius: 6px;
    font-size: 14px;
    margin-bottom: 10px;
    
  }
  

  .forgot-password {
    color: #666666;
    font-size: 13px;
    font-weight: 400;
    display: block;
    margin-top: 10px;
  }
  
  .divider {
    left: -23px;
    position: relative;
    width: 558px;
    height: 1px;
    background: #E0E2E6;
    /* margin: 30px 0; */
    margin-top: 30px;
  }
  
  .login-button {
    width: 150px;
    height: 50px;
    background: #FF3366;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    margin: 30px auto;
    position: relative;
    left: 35%;
  }
  
  .signup-text {
    text-align: center;
    margin-top: 20px;
  }
  
  .signup-text a {
    color: #333333;
    font-weight: 600;
  }
.login-button:disabled{
  pointer-events: none;
  background-color: #333333;
}
.error_msg{
  color: red;
  margin: 0px;
  padding: 0px;
  margin-left: 354px;
  
}