<div class="main-container">
    <div class="signup">
      <section class="sign-up-container">
        <form class="signup1" data-scroll-to="signup">
          <div class="login-link-frame">
            <h2 class="signup2">Signup</h2>
            <img class="vector-icon2" loading="lazy" alt="" src="../../assets/svgs/vector2.svg" />
          </div>
          <hr>
          <!-- <div class="field-container"> -->
          <div class="email-input-frame">
            <input class="enter-your-text" placeholder="Enter Your Username" type="text" />
          </div>
          <div class="email-input-frame">
            <input class="enter-your-text" placeholder="Enter Your Email" type="text" />
          </div>
          <div class="email-input-frame">
            <input class="enter-your-text" placeholder="Enter Your Password" type="text" />
          </div>
          <div class="already-have-account-text">
                <span class="already-have-an">Already have an account?</span>&nbsp;
                <span class="login2">Login</span>
          </div>
          <div class="login-frame">
            <button class="continue-text-parent">
              <b class="continue" id="continueText">Continue</b>
            </button>
          </div>
          <!-- </div> -->
        </form>
      </section>
    </div>
  </div>

