<!-- <app-navbar></app-navbar> -->
<section class="banners">
  <div class="first-frame">
    <h1 class="banner">BANNER</h1>
  </div>
  <app-search-component></app-search-component>
</section>

<section class="top-rated-properties-frame-parent">
  <div class="top-rated-properties-frame">
    <h1 class="top-rated-properties">Top Rated Properties</h1>
    <div class="property-list-frame">
      <div class="group-of-properties"></div>
    </div>
  </div>
  <div class="latest-property-frame">
    @for (Hotel of TopRatedHotels; track $index) {
      <app-hotel-container class="latest-property-1" [Hotel]="Hotel"></app-hotel-container>
    }
    
  </div>
</section>
<!-- <app-footer></app-footer> -->
