<app-navbar></app-navbar>
<section class="banners">
  <div class="first-frame">
    <h1 class="banner">BANNER</h1>
  </div>
  <app-search-component></app-search-component>
</section>

<section class="top-rated-properties-frame-parent">
  <div class="top-rated-properties-frame">
    <h1 class="top-rated-properties">Top Rated Properties</h1>
    <div class="property-list-frame">
      <div class="group-of-properties"></div>
    </div>
  </div>
  <div class="latest-property-frame">
    <div class="latest-property-1">
      <img
        class="latest-property-1-child"
        alt=""
        src="../../../assets/public/rectangle-72.svg"
      />

      <div class="latest-property-1-inner">
        <div class="five-stars-parent">
          <img
            class="five-stars-icon"
            loading="lazy"
            alt=""
            src="../../../assets/public/five-stars.svg"
          />

          <img
            class="group-icon"
            loading="lazy"
            alt=""
            src="../../../assets/public/group.svg"
          />
        </div>
      </div>
      <div class="check-in-frame-parent">
        <div class="check-in-frame"></div>
        <div class="add-dates-frame1">
          <b class="radisson-blu">Radisson Blu</b>
          <div class="hitech-city">Hitech city , Hyderabad</div>
        </div>
      </div>
    </div>
    <div class="latest-property-2">
      <img
        class="latest-property-2-child"
        alt=""
        src="../../../assets/public/rectangle-72.svg"
      />

      <div class="latest-property-2-inner">
        <div class="five-stars-group">
          <img
            class="five-stars-icon1"
            loading="lazy"
            alt=""
            src="../../../assets/public/five-stars.svg"
          />

          <img
            class="group-icon1"
            loading="lazy"
            alt=""
            src="../../../assets/public/group.svg"
          />
        </div>
      </div>
      <div class="ellipse-parent">
        <div class="frame-child"></div>
        <div class="jw-marriot-parent">
          <b class="jw-marriot">JW Marriot</b>
          <div class="khondapur-hyderabad">Khondapur, Hyderabad</div>
        </div>
      </div>
    </div>
    <div class="latest-property-3">
      <img
        class="latest-property-3-child"
        alt=""
        src="../../../assets/public/rectangle-72.svg"
      />

      <div class="latest-property-3-inner">
        <div class="five-stars-container">
          <img
            class="five-stars-icon2"
            loading="lazy"
            alt=""
            src="../../../assets/public/five-stars.svg"
          />

          <img
            class="group-icon2"
            loading="lazy"
            alt=""
            src="../../../assets/public/group.svg"
          />
        </div>
      </div>
      <div class="ellipse-group">
        <div class="frame-item"></div>
        <div class="le-meridian-parent">
          <b class="le-meridian">Le Meridian</b>
          <div class="gachibowli-hyderabad">Gachibowli, Hyderabad</div>
        </div>
      </div>
    </div>
    <div class="latest-property-4">
      <img
        class="latest-property-4-child"
        alt=""
        src="../../../assets/public/rectangle-72.svg"
      />

      <div class="latest-property-4-inner">
        <div class="frame-div">
          <img
            class="five-stars-icon3"
            loading="lazy"
            alt=""
            src="../../../assets/public/five-stars.svg"
          />

          <img
            class="group-icon3"
            loading="lazy"
            alt=""
            src="../../../assets/public/group.svg"
          />
        </div>
      </div>
      <div class="ellipse-container">
        <div class="frame-inner"></div>
        <div class="taj-falaknuma-palace-parent">
          <b class="taj-falaknuma-palace">Taj Falaknuma Palace</b>
          <div class="engine-bowli-falaknuma">
            Engine Bowli, Falaknuma, Hyderabad
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
