.banners,
.search-bar,
.search-container,
.third-frame {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}

.banners,
.search-container {
  box-sizing: border-box;
}

.banners {
  background-image: url("../../assets/public/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  align-self: stretch;
  background-color: var(--color-whitesmoke-100);
  flex-direction: column;
  align-items: center;
  padding: var(--padding-6xs) var(--padding-55xl) var(--padding-57xl) var(--padding-57xl);
  gap: 93px 0;
  text-align: left;
  font-size: var(--font-size-16xl);
  color: var(--color-crimson);
  font-family: var(--font-montserrat);
}

.first-frame {
  width: 560px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-4xs);
  box-sizing: border-box;
  max-width: 100%;
  font-size: 120px;
  color: var(--color-whitesmoke-200);
}

.banner {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}

.top-rated-properties-frame-parent {
  width: 1247px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-2xl) 73px var(--padding-xl);
  box-sizing: border-box;
  gap: 64px 0;
  max-width: 100%;
  text-align: left;
  font-size: var(--heading-03-size);
  color: var(--color-darkslategray);
  font-family: var(--font-montserrat);
  padding: 60px 0px;
  margin: auto;
}

.property-list-frame,
.top-rated-properties-frame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.top-rated-properties-frame {
  flex-direction: column;
  gap: 24px 0;
  flex-shrink: 0;
}

.top-rated-properties {
  margin: 0;
  width: 235px;
  height: 103px;
  position: relative;
  font-size: inherit;
  line-height: 48px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}

.property-list-frame {
  width: 144px;
  flex-direction: row;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
}

.group-of-properties {
  height: 6px;
  flex: 1;
  position: relative;
  border-radius: 3px;
  background-color: var(--color-darkslategray);
}

.latest-property-frame {
  align-self: stretch;
  display: grid;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 30px;
  flex-shrink: 0;
  grid-template-columns: repeat(4, minmax(209px, 1fr));
  font-size: var(--font-size-mid);
}

.add-dates-frame1,
.check-in-frame-parent,
.latest-property-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* .latest-property-1 {
  height: 341px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gainsboro-200);
  align-items: flex-end;
  padding: var(--padding-3xl) 0 var(--padding-smi) var(--padding-11xs);
  box-sizing: border-box;
  gap: var(--gap-129xl);
} */

@media screen and (max-width: 925px) {
  .logo {
    font-size: var(--font-size-9xl);
  }

  .banner {
    font-size: var(--font-size-29xl);
  }

  .find {
    font-size: 32px;
  }

  .top-rated-properties {
    font-size: var(--font-size-10xl);
    line-height: 38px;
  }

  .latest-property-frame {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(209px, 363px));
   
  }

  .logo1 {
    font-size: var(--font-size-21xl);
  }
}

@media screen and (max-width: 700px) {
  .add-dates-frame {
    flex-wrap: wrap;
    gap: 0 38px;
  }

  .banners {
    gap: 93px 0;
    padding: var(--padding-xl) var(--padding-18xl) var(--padding-30xl) var(--padding-19xl);
    box-sizing: border-box;
  }

  .top-rated-properties-frame-parent {
    gap: 64px 0;
    padding-bottom: var(--padding-28xl);
    box-sizing: border-box;
  }

  .home {
    gap: 88px 0;
  }
}

@media screen and (max-width: 450px) {
  .logo {
    font-size: var(--font-size-2xl);
  }

  .banner-frames {
    flex-wrap: wrap;
  }

  .banner {
    font-size: var(--font-size-11xl);
  }

  .find {
    font-size: var(--font-size-5xl);
  }

  .guests-and-dates-frame,
  .round-search-frame {
    flex-wrap: wrap;
  }

  .banners {
    gap: 93px 0;
  }

  .top-rated-properties {
    font-size: var(--heading-04-size);
    line-height: 29px;
  }

  .latest-property-1,
  .latest-property-2,
  .latest-property-3,
  .latest-property-4 {
    gap: var(--gap-129xl);
  }

  .latest-property-frame {
    grid-template-columns: minmax(209px, 1fr);
  }

  .top-rated-properties-frame-parent {
    gap: 64px 0;
    margin: auto;
  }

  .logo1 {
    font-size: var(--font-size-11xl);
  }

  .home {
    gap: 88px 0;
  }
}