<form>
  <div style="margin-bottom: 10px;">
      <label for="updateRoomNumber" style="width: 700px;
      padding-left: 0px;
      margin-left: 50px;">Room Number:</label>
      <input type="text" id="updateRoomNumber" name="updateRoomNumber" required style="width: 100%;">
      <label for="updateRoomNumber" style="width: 700px;
      padding-left: 0px;
      margin-left: 50px;">Room Number:</label>
      <input type="text" id="updateRoomNumber" name="updateRoomNumber" required style="width: 100%;">
  </div>
  </form>
