<div class="add-new-hotel-room-property-1">
  <b class="add-facilities-available">Add facilities available at your place.</b>
  <div class="button" id="buttonContainer">
    <div class="button-child" id="rectangle"></div>
    <button style="background-color: #ff3366; border:none; padding:0px" ><b class="next" id="nextText">NEXT</b></button>
  </div>
  <div class="add-new-hotel-room-property-1-child"></div>
  <div class="add-new-hotel-room-property-1-item"></div>
  <div class="bedrooms">Bedrooms</div>
  <b class="b">0</b>
  <img class="akar-iconsminus" alt="" src="../assets/public2/akariconsminus.svg" />

  <img class="akar-iconsplus" alt="" src="../assets/public2/akariconsplus.svg" />

  <div class="add-new-hotel-room-property-1-inner"></div>
  <div class="ellipse-div"></div>
  <div class="bathrooms">Bathrooms</div>
  <b class="b1">0</b>
  <img class="akar-iconsminus1" alt="" src="../assets/public2/akariconsminus.svg" />

  <img class="akar-iconsplus1" alt="" src="../assets/public2/akariconsplus.svg" />
