<footer class="footer">
  <div class="footer-frame">
    <img class="footer-bg-icon" alt="" src="../../../assets/public/footer-bg.svg" />

    <div class="play-store-logo-google-play-st">
      <img class="footer-bg-icon1" alt="" src="../../../assets/public/footer-bg.svg" />

      <div class="apple-store-app-logo">
        <img
          class="footer-bg-icon2"
          alt=""
          src="../../../assets/public/footer-bg.svg"
        />

        <h1 class="logo1">LOGO</h1>
        <div class="lorem-ipsum-dolor">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
        <button class="playstore">
          <div class="playstore-child"></div>
          <img
            class="ionlogo-google-playstore-icon"
            alt=""
            src="../../../assets/public/ionlogogoogleplaystore.svg"
          />

          <div class="playstore1">PlayStore</div>
        </button>
        <button class="applestore">
          <div class="applestore-child"></div>
          <div class="applestore1">AppleStore</div>
          <img
            class="ionlogo-apple-appstore-icon"
            alt=""
            src="../../../assets/public/ionlogoappleappstore.svg"
          />
        </button>
        <b class="company">COMPANY</b>
        <div class="about-us">About Us</div>
        <div class="legal-information">Legal Information</div>
        <div class="contact-us">Contact Us</div>
        <div class="blogs">Blogs</div>
        <b class="contact-info">CONTACT INFO</b>
        <div class="phone-1234567890">Phone: 1234567890</div>
        <div class="email-companyemailcom">Email: companyemail.com</div>
        <div class="location-100-smart">
          Location: 100 Smart Street, LA, USA
        </div>
        <img
          class="social-media-links"
          loading="lazy"
          alt=""
          src="../../../assets/public/social-media-links.svg"
        />

        <b class="help-center">HELP CENTER</b>
        <div class="find-a-hotel">Find a Hotel</div>
        <div class="why-us">Why Us?</div>
        <div class="faqs">FAQs</div>
        <div class="rental-guides">Rental Guides</div>
      </div>
    </div>
  </div>
</footer>
