<div class="checkout-address">

  <section class="address-input-frame">
    <div class="title-frame-group">
      <div class="title-frame1">
        <h1 class="title">Checkout</h1>
        <div class="address-text">
          <div class="simple-breadcrumbs">
            <b class="address"> • Payment</b>
            <div class="your-payment-details-frame"></div>
            <div class="shipping">Shipping</div>
            <div class="simple-breadcrumbs-child"></div>
            <div class="payment2"> • Confirmation</div>
          </div>
        </div>
      </div>
      <div class="input-frame-container">
        <div class="default-frame">
          <div class="checkbox-off-frame">
            <div class="save-contact-info-text">
              <h3 class="your-payment-details">Booking Information</h3>
              <div class="horizontal-product-card">
                <div class="input-address">
                  <div class="main-header-frame3">
                    <div class="input-frame1">
                      <div class="input">
                        <div class="initial-options-frame3"></div>
                        <input class="input-name" placeholder="First Name" type="text" />
                      </div>
                      <div class="input1">
                        <div class="group-frame1"></div>
                        <input class="input-name1" placeholder="Last Name" type="text" />
                      </div>
                    </div>
                    <div class="input2">
                      <div class="rectangle1">

                      </div>
                      <input class="input-name2" placeholder="Address" type="text" />
                    </div>
                    <div class="input3">
                      <div class="rectangle2"></div>
                      <input class="input-name3" placeholder="Apartment, suite, etc (optional)" type="text" />
                    </div>
                    <div class="input4">
                      <div class="rectangle3"></div>
                      <input class="input-name4" placeholder="City" type="text" />
                    </div>
                    <div class="input-frame2">
                      <div class="dropdown-input">
                        <div class="rectangle4"></div>
                        <div class="input-name5">Country</div>
                        <img class="icons-chevron-down" alt="" src="../assets/public/-icons--chevron-down.svg" />
                      </div>
                      <div class="dropdown-input1">
                        <div class="rectangle5"></div>
                        <div class="input-name6">City</div>
                        <img class="icons-chevron-down1" alt="" src="../assets/public/-icons--chevron-down.svg" />
                      </div>
                      <div class="input5">
                        <div class="input-rectangle-frame"></div>
                        <input class="input-name7" placeholder="Zipcode" type="text" />
                      </div>
                    </div>
                    <div class="input6">
                      <div class="rectangle6"></div>
                      <input class="input-name8" placeholder="Optional" type="text" />
                    </div>
                  </div>
                </div>
                <div class="chevron-down-icon">
                  <div class="default-instance">
                    <div class="save-contact-info-frame">
                      <input class="default" type="checkbox" />

                      <div class="save-contact-information">
                        Save contact information
                      </div>
                    </div>
                  </div>
                  <div class="default1">
                    <div class="button4">
                      <button class="base" (click)="bookingdone()"></button>
                      <div class="button-text">Confirm Booking</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="your-detailsframe-parent">
            <div class="your-detailsframe">
              <h3 class="your-payment-details1">Booking Details</h3>
              <div class="horizontal-product-card1">
                <div class="product-image"></div>
                <div class="sizequantityframe">
                  <div class="titlepricegroup">
                    <h3 class="title1">Pride Inn</h3>
                  </div>
                  <div class="size-l">Deluxe Suite</div>
                  <div class="quantity-1">Guest - 3</div>
                  <div class="titlepricegroup1">
                    <div class="price">
                      <b>₹</b>
                      <span class="span26">
                        <span>1000</span>
                        <span class="span27"> </span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="remove-button">Remove</div>
              </div>
            </div>
            <div class="orderlineitemframe">
              <div class="orderlineitemline">
                <div class="order-line-item">
                  <div class="subtotal">Subtotal</div>
                  <div class="line3">
                    <span>₹</span>
                    <span class="span28">1000</span>
                    <span> </span>
                  </div>
                </div>
                <div class="order-line-item1">
                  <div class="subtotal1">Taxes</div>
                  <div class="div19">10% subtotal</div>
                </div>
                <div class="orderlineitemline-child"></div>
                <div class="order-line-item2">
                  <div class="subtotal2">Total</div>
                  <div class="div20">
                    <span>₹</span>
                    <span class="span29">1000</span>
                    <span> </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="blankframe">
    <div class="div21">$99</div>
    <div class="div22">$99</div>
  </div>
</div>