
.footer-frame10{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0;
  background-color: var(--color-whitesmoke-100);
  height: 100px;
  width: 279px;
  outline: 0;
  border-radius: var(--br-7xs);


  padding: var(--padding-20xl) var(--padding-109xl);
  box-sizing: border-box;
  font-family: var(--font-montserrat);
  font-weight: 700;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-100);
}
