.header-background8 {
  height: 104px;
  width: 1366px;
  position: relative;
  background-color: var(--color-whitesmoke-100);
  display: none;
  max-width: 100%;
}
.logo21 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  z-index: 1;
}
.f-r-a-m-e {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-11xs);
}
.akar-iconsglobe11 {
  height: 22px;
  width: 22px;
  position: relative;
  display: none;
}
.initial-options-icon13 {
  height: 59px;
  width: 109px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.header-background-parent5 {
  align-self: stretch;
  background-color: var(--color-whitesmoke-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-5xl) var(--padding-55xl) var(--padding-2xl)
    var(--padding-57xl);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-16xl);
  color: var(--color-crimson);
  font-family: var(--font-montserrat);
}
.bookings1,
.past1,
.upcoming1 {
  position: relative;
  display: inline-block;
}
.bookings1 {
  margin: 0;
  width: 382px;
  height: 53px;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  color: var(--color-crimson);
  flex-shrink: 0;
  max-width: 100%;
}
.past1,
.upcoming1 {
  height: 30px;
}
.upcoming1 {
  flex: 1;
}
.past1 {
  width: 66px;
  flex-shrink: 0;
}
.line4,
.upcoming-past-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.line4 {
  flex: 1;
  gap: 0 16px;
}
.upcoming-past-frame {
  width: 212px;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
}
.radisson-blu-text {
  height: 1px;
  width: 1204px;
  position: relative;
  border-top: 1px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  max-width: 100%;
}
.checkin-frame1 {
  height: 3px;
  width: 107px;
  position: relative;
  background-color: var(--color-crimson);
  margin-left: -1202px;
}
.checkin-frame,
.radisson-blu-text-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  max-width: 100%;
}
.checkin-frame {
  flex-direction: column;
  align-items: flex-start;
  gap: 8px 0;
  font-size: var(--font-size-lg);
}
.approve-text {
  height: 94px;
  width: 107px;
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--color-darkgray);
}
.pride-inn10 {
  width: 248px;
  height: 23px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.check-in4 {
  font-weight: 600;
}
.mar-20242 {
  font-weight: 500;
  color: var(--color-darkgray);
}
.check-in-12-container2,
.user-john-wick {
  align-self: stretch;
  position: relative;
}
.user-john-wick {
  height: 24px;
  font-size: var(--button-03-size);
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
}
.logo-frame3 {
  width: 159px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px 0;
}
.duration-3-days {
  flex: 1;
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 86px;
}
.check-in-frame2,
.pride-inn-parent6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.check-in-frame2 {
  align-self: stretch;
  flex-direction: row;
  gap: 0 15px;
  font-size: var(--font-size-smi);
}
.pride-inn-parent6 {
  flex: 1;
  flex-direction: column;
  gap: 5px 0;
  min-width: 239px;
  max-width: 100%;
}
.guests4 {
  font-weight: 600;
}
.adults2 {
  font-weight: 500;
  color: var(--color-darkgray);
}
.guests-4-adults-container2 {
  width: 121px;
  position: relative;
  font-size: var(--font-size-smi);
  display: inline-block;
  flex-shrink: 0;
}
.guests-adults-text {
  width: 641px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 0 23px;
  max-width: 100%;
}
.footer-bg-frame-child {
  height: 94px;
  width: 107px;
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--color-darkgray);
}
.radisson-blu1 {
  width: 248px;
  height: 23px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.check-in5 {
  font-weight: 600;
}
.mar-20243 {
  font-weight: 500;
  color: var(--color-darkgray);
}
.check-in-1-container {
  align-self: stretch;
  position: relative;
}
.by-tim-cook {
  width: 139px;
  position: relative;
  font-size: var(--button-03-size);
  font-weight: 600;
  display: inline-block;
}
.duration-days-label {
  width: 159px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px 0;
}
.duration10-days {
  flex: 1;
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 88px;
}
.by-text1,
.radisson-blu-label {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.by-text1 {
  align-self: stretch;
  flex-direction: row;
  gap: 0 15px;
  font-size: var(--font-size-smi);
}
.radisson-blu-label {
  flex: 1;
  flex-direction: column;
  gap: 5px 0;
  min-width: 239px;
  max-width: 100%;
}
.guests5 {
  font-weight: 600;
}
.adults3 {
  font-weight: 500;
  color: var(--color-darkgray);
}
.guests-3-adults-container {
  width: 121px;
  position: relative;
  font-size: var(--font-size-smi);
  display: inline-block;
  flex-shrink: 0;
}
.footer-bg-frame {
  width: 641px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 23px;
  max-width: 100%;
}
.approve {
  height: 24px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
}
.approve-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
  font-size: var(--paragraph-04-size);
  color: var(--colors-white);
}
.approve-text1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.duration-days-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 25px 0;
  max-width: 100%;
}
.by-text {
  width: 1062px;
  flex-direction: row;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
  font-size: var(--button-03-size);
}
.bookings-frame,
.by-text,
.subframe {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.subframe {
  flex: 1;
  flex-direction: column;
  gap: 36px 0;
}
.bookings-frame {
  width: 1250px;
  flex-direction: row;
  padding: 0 var(--padding-7xl) 192px var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-19xl);
  color: var(--color-darkslategray);
  font-family: var(--font-montserrat);
}
.footer-bg-icon18,
.footer-bg-icon19,
.footer-bg-icon20 {
  position: absolute;
  top: 0;
  left: -0.5px;
  width: 1376px;
  height: 648px;
}
.footer-bg-icon19,
.footer-bg-icon20 {
  z-index: 1;
}
.footer-bg-icon20 {
  z-index: 2;
}
.logo22,
.lorem-ipsum-dolor18 {
  position: absolute;
  left: 87px;
  display: inline-block;
  z-index: 3;
}
.logo22 {
  margin: 0;
  top: 72px;
  font-size: var(--font-size-31xl);
  font-weight: 800;
  font-family: inherit;
  width: 166px;
  height: 56px;
}
.lorem-ipsum-dolor18 {
  top: 159px;
  line-height: 20px;
  color: var(--color-darkgray);
  white-space: pre-wrap;
  width: 382px;
  height: 96px;
}
.playstore-child5 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-gainsboro-200);
  width: 100%;
  height: 100%;
  display: none;
}
.ionlogo-google-playstore-icon7 {
  position: absolute;
  top: 15px;
  left: 29px;
  width: 22px;
  height: 22px;
  overflow: hidden;
  z-index: 1;
}
.playstore15 {
  position: absolute;
  top: 18px;
  left: 66px;
  font-size: var(--font-size-mini);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--color-darkslategray);
  text-align: left;
  display: inline-block;
  width: 86px;
  height: 26px;
  z-index: 1;
}
.applestore-child5,
.playstore14 {
  position: absolute;
  border-radius: var(--br-7xs);
  background-color: var(--color-gainsboro-200);
}
.playstore14 {
  cursor: pointer;
  border: 0;
  padding: 0;
  top: 262px;
  left: 87px;
  width: 172px;
  height: 52px;
  z-index: 3;
}
.applestore-child5 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.applestore15 {
  position: absolute;
  top: 18px;
  left: 60px;
  font-size: var(--font-size-mini);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--color-darkslategray);
  text-align: left;
  display: inline-block;
  width: 94px;
  height: 26px;
  z-index: 1;
}
.ionlogo-apple-appstore-icon7 {
  position: absolute;
  top: 15px;
  left: 21px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  z-index: 1;
}
.applestore14 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gainsboro-200);
  position: absolute;
  top: 262px;
  left: 272px;
  border-radius: var(--br-7xs);
  width: 172px;
  height: 52px;
  z-index: 3;
}
.about-us7,
.company7,
.legal-information7 {
  position: absolute;
  left: 517px;
  line-height: 20px;
  display: inline-block;
  height: 28px;
  z-index: 3;
}
.company7 {
  top: 86px;
  font-size: var(--font-size-lg);
  width: 176px;
}
.about-us7,
.legal-information7 {
  top: 134px;
  font-weight: 500;
  width: 87px;
}
.legal-information7 {
  top: 167px;
  width: 153px;
}
.contact-us7 {
  top: 200px;
  left: 517px;
  font-weight: 500;
  width: 103px;
}
.blogs7,
.contact-info10,
.contact-us7 {
  position: absolute;
  line-height: 20px;
  display: inline-block;
  height: 28px;
  z-index: 3;
}
.blogs7 {
  top: 233px;
  left: 517px;
  font-weight: 500;
  width: 57px;
}
.contact-info10 {
  top: 89px;
  left: 1025px;
  font-size: var(--font-size-lg);
  width: 153px;
}
.email-companyemailcom7,
.location-100-smart7,
.phone-12345678907 {
  position: absolute;
  top: 138px;
  left: 1025px;
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  width: 157px;
  height: 21px;
  z-index: 3;
}
.email-companyemailcom7,
.location-100-smart7 {
  top: 170px;
  width: 224px;
}
.location-100-smart7 {
  top: 202px;
  width: 294px;
}
.social-media-links11 {
  position: absolute;
  top: 250px;
  left: 1016px;
  width: 191px;
  height: 38px;
  overflow: hidden;
  z-index: 3;
}
.faqs7,
.find-a-hotel5,
.help-center11,
.rental-guides9,
.why-us7 {
  position: absolute;
  left: 778px;
  line-height: 20px;
  display: inline-block;
  height: 28px;
  z-index: 3;
}
.help-center11 {
  top: 89px;
  font-size: var(--font-size-lg);
  width: 153px;
}
.faqs7,
.find-a-hotel5,
.rental-guides9,
.why-us7 {
  top: 137px;
  font-weight: 500;
  width: 132px;
}
.faqs7,
.rental-guides9,
.why-us7 {
  top: 170px;
  width: 103px;
}
.faqs7,
.rental-guides9 {
  top: 201px;
  width: 57px;
}
.rental-guides9 {
  top: 236px;
  width: 132px;
}
.contactinfopanel,
.logoframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.footerbgcontainer {
  height: 648px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.playstore-logo {
  margin-right: -2px;
  margin-bottom: -205px;
  width: 1377px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: calc(100% - 1396px);
}
.footer-bg-icon21,
.footer-bg-icon22 {
  position: absolute;
  top: 0;
  left: -0.5px;
  width: 1376px;
  height: 648px;
}
.footer-bg-icon22 {
  z-index: 1;
}
.approvebuttonframe {
  margin-right: -1656px;
  margin-bottom: -311px;
  height: 648px;
  width: 1376px;
  position: relative;
  max-width: calc(100% - 1397px);
}
.footer9,
.host-bookings {
  background-color: var(--colors-white);
  overflow: hidden;
  display: flex;
}
.footer9 {
  margin-left: 824.5px;
  width: 3029px;
  height: 443px;
  flex-shrink: 0;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 222%;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-darkslategray);
  font-family: var(--font-montserrat);
}
.host-bookings {
  width: 100%;
  position: relative;
  border-radius: var(--br-xl);
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 87px 0;
  letter-spacing: normal;
}
@media screen and (max-width: 2025px) {
  .approvebuttonframe,
  .playstore-logo {
    max-width: 100%;
  }
}
@media screen and (max-width: 1500px) {
  .approvebuttonframe,
  .playstore-logo {
    max-width: 100%;
  }
}
@media screen and (max-width: 975px) {
  .header-background-parent5 {
    padding-left: var(--padding-19xl);
    padding-right: var(--padding-18xl);
    box-sizing: border-box;
  }
  .bookings1 {
    font-size: var(--font-size-11xl);
  }
  .approve-text1,
  .footer-bg-frame {
    flex-wrap: wrap;
  }
  .subframe {
    gap: 36px 0;
  }
  .bookings-frame {
    padding-bottom: 125px;
    box-sizing: border-box;
  }
  .logo22 {
    font-size: var(--font-size-21xl);
  }
  .approvebuttonframe,
  .playstore-logo {
    max-width: 100%;
  }
  .host-bookings {
    gap: 87px 0;
  }
}
@media screen and (max-width: 450px) {
  .bookings1 {
    font-size: var(--font-size-4xl);
  }
  .by-text1,
  .check-in-frame2 {
    flex-wrap: wrap;
  }
  .logo22 {
    font-size: var(--font-size-11xl);
  }
  .approvebuttonframe,
  .playstore-logo {
    max-width: 100%;
  }
  .host-bookings {
    gap: 87px 0;
  }
}
