
.banners,
.search-bar,
.search-container,
.third-frame {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.banners,
.search-container {
  box-sizing: border-box;
}

.search-container {
  width: 796px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-11xs) 0 0;
  font-size: var(--font-size-21xl);
  color: var(--color-darkslategray);
}

.third-frame {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 17px 0;
}
.fourth-frame {
  width: 181px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xl);
  box-sizing: border-box;
}
.find {
  margin: 0;
  height: 55px;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}

.search-bar-child {
  height: 70px;
  width: 794px;
  position: relative;
  border-radius: var(--br-16xl);
  background-color: var(--colors-white);
  display: none;
  max-width: 100%;
}
.add-dates-frame,
.round-search-frame,
.search-bar {
  flex-direction: row;
  align-items: flex-end;
}
.search-bar {
  align-self: stretch;
  border-radius: var(--br-16xl);
  background-color: var(--colors-white);
  flex-wrap: wrap;
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-5xs)
    var(--padding-11xl);
  box-sizing: border-box;
  gap: var(--gap-7xl);
  z-index: 1;
  font-size: var(--font-size-xs);
}
.location,
.which-city-do {
  position: relative;
  font-weight: 600;
  display: inline-block;
  z-index: 1;
}
.location {
  width: 80px;
}
.location-frames {
  width: 224px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3px 0;
}
.which-city-do {
  align-self: stretch;
  height: 25px;
  font-size: var(--paragraph-04-size);
  color: var(--color-silver);
  flex-shrink: 0;
}
.add-dates-frame {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  gap: 0 38px;
  min-width: 329px;
  max-width: 100%;
}
.guests-frame,
.round-search {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.guests-frame {
  width: 104px;
  flex-direction: row;
  gap: 0 16px;
}
.round-search-results-frame {
  height: 33px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.first-line {
  width: 1px;
  height: 30px;
  position: relative;
  border-right: 1px solid var(--color-gainsboro-300);
  box-sizing: border-box;
  z-index: 1;
}
.round-search {
  flex: 1;
  flex-direction: column;
  gap: 3px 0;
}
.add-dates,
.check-in {
  position: relative;
  font-weight: 600;
  display: inline-block;
  z-index: 1;
}
.check-in {
  width: 80px;
}
.add-dates {
  align-self: stretch;
  height: 25px;
  font-size: var(--paragraph-04-size);
  color: var(--color-silver);
  flex-shrink: 0;
}
.round-search-frame {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  gap: 0 16px;
  min-width: 237px;
  max-width: 100%;
}
.guests-panel-wrapper {
  height: 43px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-smi);
  box-sizing: border-box;
}
.guests-panel {
  width: 1px;
  height: 30px;
  position: relative;
  border-right: 1px solid var(--color-gainsboro-300);
  box-sizing: border-box;
  z-index: 1;
}
.check-out-guests-panel1,
.guests-and-dates-frame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.guests-and-dates-frame {
  flex: 1;
  flex-direction: row;
  padding: 0 var(--padding-mini) 0 0;
  box-sizing: border-box;
  gap: 0 13px;
  min-width: 181px;
}
.check-out-guests-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3px 0;
  min-width: 91px;
}
.check-out {
  width: 80px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  z-index: 1;
}
.check-out1 {
  margin: 0;
}
.add-dates1 {
  align-self: stretch;
  height: 25px;
  position: relative;
  font-size: var(--paragraph-04-size);
  font-weight: 600;
  color: var(--color-silver);
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.add-dates2 {
  margin: 0;
}
.round-search-results-frame1 {
  height: 33px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
}
.round-search-results-frame-child {
  width: 1px;
  height: 30px;
  position: relative;
  border-right: 1px solid var(--color-gainsboro-300);
  box-sizing: border-box;
  z-index: 1;
}
.check-out-guests-panel1 {
  width: 97px;
  flex-direction: column;
  gap: 3px 0;
}
.guests {
  width: 80px;
}
.add-guests,
.guests {
  position: relative;
  font-weight: 600;
  display: inline-block;
  z-index: 1;
}
.add-guests {
  align-self: stretch;
  height: 25px;
  font-size: var(--paragraph-04-size);
  color: var(--color-silver);
  flex-shrink: 0;
}
.round-search-icon {
  height: 54px;
  width: 54px;
  position: relative;
  z-index: 1;
}

.inputbox{
  border: none;
  color: #273240;
}
.inputbox:focus{
  outline: none;
  border:none
}

/*Media Query*/
@media screen and (max-width: 925px) {

  .find {
    font-size: 32px;
  }



}
@media screen and (max-width: 700px) {
  .add-dates-frame {
    flex-wrap: wrap;
    gap: 0 38px;
  }



}
@media screen and (max-width: 450px) {

  .find {
    font-size: var(--font-size-5xl);
  }
  .guests-and-dates-frame,
  .round-search-frame {
    flex-wrap: wrap;
  }
}

.search-button{
  border-radius: 50%;
  background-color: transparent;
  border: none;
}


.search-button:disabled img.round-search-icon {
  filter: grayscale(100%);
}