<div class="search-container">
  <div class="third-frame">
    <div class="fourth-frame">
      <h1 class="find">FIND</h1>
    </div>
    <div class="search-bar">
      <div class="search-bar-child"></div>
      <div class="location-frames">
        <div class="location">Location</div>
        <input type="text" [(ngModel)]="city" class="which-city-do inputbox" placeholder="Which city do you prefer?" >
        
      </div>
      <div class="add-dates-frame">
        <div class="guests-frame">
          <div class="round-search-results-frame">
            <div class="first-line"></div>
          </div>
          <div class="round-search">
            <div class="check-in">Check In</div>
            <input type="date" class="add-dates inputbox" placeholder="Add Dates" [(ngModel)]="checkinDate">
            
          </div>
        </div>
        <div class="round-search-frame">
          <div class="guests-panel-wrapper">
            <div class="guests-panel"></div>
          </div>
          <div class="guests-and-dates-frame">
            <div class="check-out-guests-panel">
              <div class="check-out">
                <p class="check-out1">Check Out</p>
              </div>
          
                <input type="date" class="add-dates1 inputbox"  autocomplete="off" [(ngModel)]="checkoutDate"> 
                
              
            </div>
            <div class="round-search-results-frame1">
              <div class="round-search-results-frame-child"></div>
            </div>
            <div class="check-out-guests-panel1">
              <div class="guests">Guests</div>
              <input type="number" class="add-guests inputbox" placeholder="Add Guests">
              <!-- <div class="add-guests">Add Guests</div> -->
            </div>
          </div>
          <img
          (click)="onSearch()"
            class="round-search-icon"
            loading="lazy"
            alt=""
            src="../../../assets/public/roundsearch.svg"
          />
        </div>
      </div>
    </div>
  </div>
</div>
