
    <img
      class="latest-property-1-child"
      alt=""
      src="../../../assets/public/rectangle-72.svg"
    />

    <div class="latest-property-1-inner">
      <div class="five-stars-parent">
        <img
          class="five-stars-icon"
          loading="lazy"
          alt=""
          src="../../../assets/public/five-stars.svg"
        />

        <img
          class="group-icon"
          loading="lazy"
          alt=""
          src="../../../assets/public/group.svg"
        />
      </div>
    </div>
    <div class="check-in-frame-parent">
      <div class="check-in-frame"></div>
      <div class="add-dates-frame1">
        <b class="radisson-blu">{{Hotel.hotelName}}</b>
        <div class="hitech-city">{{Hotel.hotelAddress}}</div>
        @if (Hotel.hotelPricerange) {
          <div class="priceRange">{{Hotel.hotelPricerange}}</div>
        }
      </div>
    </div>
  