.latest-property-1-child {
    align-self: stretch;
    height: 340px;
    position: relative;
    border-radius: var(--br-5xs);
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    display: none;

  }
  .latest-property-1-inner {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-lgi);
  }
  .five-stars-parent {

    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .five-stars-icon,
.group-icon {
  height: 14px;
  width: 95px;
  position: relative;
  z-index: 1;
}
.group-icon {
    height: 22.8px;
    width: 26.1px;
  }
  .add-dates-frame1,
.check-in-frame-parent,
.latest-property-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}
.check-in-frame-parent {
  
    width: 258px;
    flex: 1;
    align-items: flex-start;
    gap: 4px 0;
  }
  .check-in-frame {
    width: 70px;
    flex: 1;
    position: relative;
    border-radius: 50%;
    background-color: var(--color-silver);  
    z-index: 1;
  }
  .add-dates-frame1 {
    align-self: stretch;
    align-items: flex-start;
  }
  .hitech-city,
.radisson-blu {
  align-self: stretch;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.radisson-blu {
  height: 42px;
  line-height: 48px;
}
.hitech-city {
  height: 22px;
  font-size: var(--font-size-smi);
  font-weight: 500;
  color: var(--color-darkgray);
  
  margin-top: -3px;
}