body {
    margin: 0;
    line-height: normal;
    font-family: 'roboto';
  }
  
  :root {
    /* fonts */
    --font-montserrat: Montserrat;
    --font-milliard: Milliard;
    --font-roboto: Roboto;
    --font-poppins: Poppins;
    --paragraph-04: "Public Sans";
    --font-inter: Inter;
  
    /* font sizes */
    --font-size-mini: 15px;
    --font-size-lg: 18px;
    --font-size-31xl: 50px;
    --font-size-11xl: 30px;
    --font-size-21xl: 40px;
    --font-size-smi: 13px;
    --font-size-mid: 17px;
    --heading-03-size: 36px;
    --heading-04-size: 22px;
    --font-size-10xl: 29px;
    --paragraph-04-size: 14px;
    --font-size-xs: 12px;
    --font-size-5xl: 24px;
    --font-size-29xl: 48px;
    --font-size-16xl: 35px;
    --font-size-2xl: 21px;
    --font-size-9xl: 28px;
    --button-03-size: 16px;
    --font-size-26xl: 45px;
    --font-size-8xl: 27px;
    --font-size-19xl: 38px;
    --paragraph-01-size: 20px;
    --font-size-4xl: 23px;
    --font-size-12xl: 31px;
    --font-size-2xs: 11px;
    --font-size-6xl: 25px;
  
    /* Colors */
    --colors-white: #fff;
    --color-darkslategray: #484848;
    --color-darkslategray-100: #333;
    --color-darkslategray-200: #273240;
    --color-darkslategray-300: rgba(39, 50, 64, 0.7);
    --color-gainsboro-100: #e6e6e6;
    --color-gainsboro-400: #dbe5eb;
    --color-gainsboro-500: #e0e3e6;
    --color-gainsboro-200: #e0e2e6;
    --color-gainsboro-300: #ddd;
    --color-gainsboro-600: #d8d9db;
    --colors-grey-grey-2: #a9abbd;
    --color-darkgray: #9a9a9a;
    --color-darkgray-100: #999;
    --secondary: #979797;
    --color-silver: #c2c6cc;
    --color-silver-100: #c4c4c4;
    --color-whitesmoke-100: #eff0f2;
    --color-whitesmoke-200: #e8eaec;
    --color-crimson: #ff3366;
    --color-black: #000;
    --color-dimgray-100: #6e6e6e;
    --color-dimgray-200: #666;
    --color-deeppink: #ff4d80;
    --color-gray-100: #fbfcfe;
    --primary: #0d0d0d;
    --color-gray-200: rgba(0, 0, 0, 0.5);
    --color-gray-300: rgba(18, 18, 18, 0.7);
    --color-gray-400: rgba(255, 255, 255, 0);
    --color-lightgray-100: #cfd1d4;
    --color-lightgray-200: #c8cbd9;
    --color-lightgray-300: #c4ccd6;
    --color-ghostwhite-100: #f1f2f7;
    --color-slategray-100: #737b8b;
    --color-slategray-200: rgba(115, 123, 139, 0.5);
    --color-lavender: #dde4f0;
  
    /* Gaps */
    --gap-69xl: 88px;
    --gap-45xl: 64px;
    --gap-0: 0px;
    --gap-129xl: 148px;
    --gap-9xs: 4px;
    --gap-xl: 20px;
    --gap-5xl: 24px;
    --gap-74xl: 93px;
    --gap-mid: 17px;
    --gap-10xs: 3px;
    --gap-2xl: 21px;
    --gap-12xl: 31px;
    --gap-18xl: 37px;
    --gap-271xl: 290px;
    --gap-21xl: 40px;
    --gap-10xl: 29px;
    --gap-19xl: 38px;
    --gap-11xl: 30px;
    --gap-15xl: 34px;
    --gap-96xl: 115px;
    --gap-7xs: 6px;
    --gap-base: 16px;
    --gap-73xl: 92px;
    --gap-64xl: 83px;
    --gap-28xl: 47px;
    --gap-mini: 15px;
    --gap-xs: 12px;
    --gap-smi: 13px;
    --gap-11xs: 2px;
    --gap-31xl: 50px;
    --gap-16xl: 35px;
    --gap-7xl: 26px;
    --gap-22xl: 41px;
    --gap-8xs: 5px;
    --gap-lgi: 19px;
    --gap-13xl: 32px;
    --gap-87xl: 106px;
    --gap-2xs: 11px;
    --gap-6xs: 7px;
    --gap-54xl: 73px;
    --gap-5xs: 8px;
    --gap-257xl: 276px;
    --gap-85xl: 104px;
    --gap-26xl: 45px;
    --gap-23xl: 42px;
    --gap-68xl: 87px;
    --gap-180xl: 199px;
    --gap-55xl: 74px;
    --gap-51xl: 70px;
    --gap-4xs: 9px;
    --gap-3xs: 10px;
    --gap-82xl: 101px;
    --gap-4xl: 23px;
    --gap-50xl: 69px;
    --gap-107xl: 126px;
    --gap-79xl: 98px;
    --gap-193xl: 212px;
    --gap-276xl: 295px;
    --gap-6xl: 25px;
    --gap-24xl: 43px;
    --gap-17xl: 36px;
    --gap-58xl: 77px;
    --gap-72xl: 91px;
    --gap-40xl: 59px;
    --gap-57xl: 76px;
    --gap-48xl: 67px;
    --gap-sm: 14px;
    --gap-30xl: 49px;
    --gap-89xl: 108px;
    --gap-281xl: 300px;
    --gap-65xl: 84px;
  
    /* Paddings */
    --padding-2xl: 21px;
    --padding-xl: 20px;
    --padding-28xl: 47px;
    --padding-3xl: 22px;
    --padding-smi: 13px;
    --padding-11xs: 2px;
    --padding-lgi: 19px;
    --padding-6xs: 7px;
    --padding-55xl: 74px;
    --padding-57xl: 76px;
    --padding-18xl: 37px;
    --padding-30xl: 49px;
    --padding-19xl: 38px;
    --padding-5xs: 8px;
    --padding-11xl: 30px;
    --padding-mini: 15px;
    --padding-10xs: 3px;
    --padding-4xs: 9px;
    --padding-14xl: 33px;
    --padding-4xl: 23px;
    --padding-lg: 18px;
    --padding-37xl: 56px;
    --padding-17xl: 36px;
    --padding-8xl: 27px;
    --padding-8xs: 5px;
    --padding-9xs: 4px;
    --padding-5xl: 24px;
    --padding-7xs: 6px;
    --padding-6xl: 25px;
    --padding-20xl: 39px;
    --padding-43xl: 62px;
    --padding-xs: 12px;
    --padding-21xl: 40px;
    --padding-7xl: 26px;
    --padding-sm: 14px;
    --padding-base: 16px;
    --padding-12xs: 1px;
    --padding-22xl: 41px;
    --padding-16xl: 35px;
    --padding-39xl: 58px;
    --padding-10xl: 29px;
    --padding-77xl: 96px;
    --padding-2xs: 11px;
    --padding-13xl: 32px;
    --padding-9xl: 28px;
    --padding-79xl: 98px;
    --padding-35xl: 54px;
    --padding-25xl: 44px;
    --padding-110xl: 129px;
    --padding-65xl: 84px;
    --padding-280xl: 299px;
    --padding-3xs: 10px;
    --padding-12xl: 31px;
    --padding-53xl: 72px;
    --padding-61xl: 80px;
    --padding-15xl: 34px;
    --padding-23xl: 42px;
    --padding-44xl: 63px;
    --padding-mid: 17px;
    --padding-170xl: 189px;
    --padding-104xl: 123px;
    --padding-29xl: 48px;
    --padding-59xl: 78px;
    --padding-34xl: 53px;
    --padding-203xl: 222px;
    --padding-24xl: 43px;
    --padding-222xl: 241px;
    --padding-19xl-5: 38.5px;
    --padding-109xl: 128px;
  
    /* Border radiuses */
    --br-xl: 20px;
    --br-7xs: 6px;
    --br-5xs: 8px;
    --br-16xl: 35px;
    --br-base: 16px;
    --br-xs: 12px;
    --br-11xs: 2px;
    --br-3xs: 10px;
    --br-11xl: 30px;
    --br-5xl: 24px;
    --br-9xl: 28px;
    --br-4xl: 23px;
    --br-8xs: 5px;
  }
  