
<app-navbar></app-navbar>
<section class="properties-inner">
  <div class="types-and-filters-parent">
    <header class="types-and-filters">
     <app-search-component></app-search-component>
      <button class="filter-btn">
        <div class="filter-btn-child"></div>
        <img class="filter-icon" alt="" src="../../../assets/public/filtericon.svg" />

        <div class="filters">Filters</div>
      </button>
    </header>
    <div class="play-storeappstoreiconionlogoa">
      <div class="property-1" id="property1Container">
        <div class="featherheartfeatherheartfeathe">
          <div class="property-col-image4"></div>
          <img
            class="featherheart-icon3"
            loading="lazy"
            alt=""
            src="../../../assets/public/featherheart1.svg"
          />

          <div class="sliderindicatorssliderindicato">
            <div class="div9">
              <b>₹</b>
              <span class="span3">1000 - </span>
              <b>₹</b>
              <span class="span4">5000 </span>
            </div>
            <div class="property-frames">
              <img
                class="slider-indicators-icon3"
                loading="lazy"
                alt=""
                src="../../../assets/public/slider-indicators1.svg"
              />
            </div>
          </div>
        </div>
        <div class="pride-inn-frames">
          <b class="pride-inn">Pride Inn</b>
          <div class="madhapur-hyderabad">Madhapur Hyderabad</div>
        </div>
      </div>
      <div class="property-2">
        <div class="property-col-image-parent">
          <div class="property-col-image5"></div>
          <img
            class="featherheart-icon4"
            alt=""
            src="../../../assets/public/featherheart1.svg"
          />

          <div class="group">
            <div class="div10">
              <b>₹</b>
              <span class="span5">1000 -</span>
              <b>₹</b>
              <span class="span6">5000 </span>
            </div>
            <div class="slider-indicators-wrapper">
              <img
                class="slider-indicators-icon4"
                alt=""
                src="../../../assets/public/slider-indicators1.svg"
              />
            </div>
          </div>
        </div>
        <div class="pride-inn-parent">
          <b class="pride-inn1">Pride Inn</b>
          <div class="madhapur-hyderabad1">Madhapur Hyderabad</div>
        </div>
      </div>
      <div class="property-3">
        <div class="property-col-image-group">
          <div class="property-col-image6"></div>
          <img
            class="featherheart-icon5"
            alt=""
            src="../../../assets/public/featherheart1.svg"
          />

          <div class="container">
            <div class="div11">
              <b>₹</b>
              <span class="span7">1000 - </span>
              <b>₹</b>
              <span class="span8">5000 </span>
            </div>
            <div class="slider-indicators-wrapper1">
              <img
                class="slider-indicators-icon5"
                alt=""
                src="../../../assets/public/slider-indicators1.svg"
              />
            </div>
          </div>
        </div>
        <div class="pride-inn-group">
          <b class="pride-inn2">Pride Inn</b>
          <div class="madhapur-hyderabad2">Madhapur Hyderabad</div>
        </div>
      </div>
      <div class="property-4">
        <div class="property-col-image-container">
          <div class="property-col-image7"></div>
          <img
            class="featherheart-icon6"
            alt=""
            src="../../../assets/public/featherheart1.svg"
          />

          <div class="parent1">
            <div class="div12">
              <b>₹</b>
              <span class="span9">1000 - </span>
              <b>₹</b>
              <span class="span10">5000 </span>
            </div>
            <div class="slider-indicators-wrapper2">
              <img
                class="slider-indicators-icon6"
                alt=""
                src="../../../assets/public/slider-indicators1.svg"
              />
            </div>
          </div>
        </div>
        <div class="pride-inn-container">
          <b class="pride-inn3">Pride Inn</b>
          <div class="madhapur-hyderabad3">Madhapur Hyderabad</div>
        </div>
      </div>
      <div class="property-5">
        <div class="property-col-image-parent1">
          <div class="property-col-image8"></div>
          <img
            class="featherheart-icon7"
            alt=""
            src="../../../assets/public/featherheart1.svg"
          />

          <div class="parent2">
            <div class="div13">
              <b>₹</b>
              <span class="span11">1000 - </span>
              <b>₹</b>
              <span class="span12">5000 </span>
            </div>
            <div class="slider-indicators-wrapper3">
              <img
                class="slider-indicators-icon7"
                alt=""
                src="../../../assets/public/slider-indicators1.svg"
              />
            </div>
          </div>
        </div>
        <div class="pride-inn-parent1">
          <b class="pride-inn4">Pride Inn</b>
          <div class="madhapur-hyderabad4">Madhapur Hyderabad</div>
        </div>
      </div>
      <div class="property-6">
        <div class="property-col-image-parent2">
          <div class="property-col-image9"></div>
          <img
            class="featherheart-icon8"
            alt=""
            src="../../../assets/public/featherheart1.svg"
          />

          <div class="parent3">
            <div class="div14">
              <b>₹</b>
              <span class="span13">1000 - </span>
              <b>₹</b>
              <span class="span14">5000 </span>
            </div>
            <div class="slider-indicators-wrapper4">
              <img
                class="slider-indicators-icon8"
                alt=""
                src="../../../assets/public/slider-indicators1.svg"
              />
            </div>
          </div>
        </div>
        <div class="pride-inn-parent2">
          <b class="pride-inn5">Pride Inn</b>
          <div class="madhapur-hyderabad5">Madhapur Hyderabad</div>
        </div>
      </div>
      <div class="property-7">
        <div class="property-col-image-parent3">
          <div class="property-col-image10"></div>
          <img
            class="featherheart-icon9"
            alt=""
            src="../../../assets/public/featherheart1.svg"
          />

          <div class="parent4">
            <div class="div15">
              <b>₹</b>
              <span class="span15">1000 - </span>
              <b>₹</b>
              <span class="span16">5000 </span>
            </div>
            <div class="slider-indicators-wrapper5">
              <img
                class="slider-indicators-icon9"
                alt=""
                src="../../../assets/public/slider-indicators1.svg"
              />
            </div>
          </div>
        </div>
        <div class="pride-inn-parent3">
          <b class="pride-inn6">Pride Inn</b>
          <div class="madhapur-hyderabad6">Madhapur Hyderabad</div>
        </div>
      </div>
      <div class="property-8">
        <div class="property-col-image-parent4">
          <div class="property-col-image11"></div>
          <img
            class="featherheart-icon10"
            alt=""
            src="../../../assets/public/featherheart1.svg"
          />

          <div class="parent5">
            <div class="div16">
              <b>₹</b>
              <span class="span17">1000 - </span>
              <b>₹</b>
              <span class="span18">5000 </span>
            </div>
            <div class="slider-indicators-wrapper6">
              <img
                class="slider-indicators-icon10"
                alt=""
                src="../../../assets/public/slider-indicators1.svg"
              />
            </div>
          </div>
        </div>
        <div class="pride-inn-parent4">
          <b class="pride-inn7">Pride Inn</b>
          <div class="madhapur-hyderabad7">Madhapur Hyderabad</div>
        </div>
      </div>
      <div class="property-9">
        <div class="property-col-image-parent5">
          <div class="property-col-image12"></div>
          <img
            class="featherheart-icon11"
            alt=""
            src="../../../assets/public/featherheart1.svg"
          />

          <div class="parent6">
            <div class="div17">
              <b>₹</b>
              <span class="span19">1000 - </span>
              <b>₹</b>
              <span class="span20">5000 </span>
            </div>
            <div class="slider-indicators-wrapper7">
              <img
                class="slider-indicators-icon11"
                alt=""
                src="../../../assets/public/slider-indicators1.svg"
              />
            </div>
          </div>
        </div>
        <div class="pride-inn-parent5">
          <b class="pride-inn8">Pride Inn</b>
          <div class="madhapur-hyderabad8">Madhapur Hyderabad</div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="rentalguidestext">
  <b class="paginations-or-load">Paginations or Load on scroll...</b>
</div>
<app-footer></app-footer>
