
<app-navbar></app-navbar>
<section class="properties-inner">
  <div class="types-and-filters-parent">
    <header class="types-and-filters">
     <app-search-component></app-search-component>
      <button class="filter-btn">
        <div class="filter-btn-child"></div>
        <img class="filter-icon" alt="" src="../../../assets/public/filtericon.svg" />

        <div class="filters">Filters</div>
      </button>
    </header>
    <div class="latest-property-frame ">
      @for (Hotel of searchedHotels; track $index) {
        <app-hotel-container class="latest-property-1" [Hotel]="Hotel"></app-hotel-container>
      }
      
    </div>
  </div>
</section>
<div class="rentalguidestext">
  <b class="paginations-or-load">Paginations or Load on scroll...</b>
</div>
<app-footer></app-footer>
