.play-storeappstoreiconionlogoa,
.properties-inner,
.types-and-filters-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.properties-inner {
  width: 1224px;
  flex-direction: row;
  padding: 0 0 var(--padding-110xl) var(--padding-4xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-darkgray);
  font-family: var(--font-montserrat);
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
 
}
.types-and-filters-parent {
  flex: 1;
  flex-direction: column;
  
  /* gap: 31px 0; */
}
.filter-btn,
.types-and-filters {
  /* background-color: red; */
  display: flex;
  height: 50px;
  flex-direction: row;
  justify-content: flex-end;
  box-sizing: border-box;
}
.filter-btn {
  cursor: pointer;
  border: 1px solid var(--color-darkgray);
  padding: var(--padding-xs) var(--padding-13xl) var(--padding-smi)
    var(--padding-12xl);
  background-color: var(--colors-white);
  width: 146px;
  border-radius: var(--br-5xl);
  align-items: center;
  gap: var(--gap-7xs);
  margin-left: 60px;
}
.filter-btn:hover {
  background-color: var(--color-gainsboro-100);
  border: 1px solid var(--color-dimgray-200);
  box-sizing: border-box;
}
.types-and-filters {
  align-self: stretch;
  height: 75px;
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-start;
  padding: 0 var(--padding-xs) var(--padding-3xs);
  gap: 0 77px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-darkslategray);
  font-family: var(--font-montserrat);
  /* padding-bottom: 80px; */
}
.latest-property-frame {
 
  align-self: stretch;
  display: grid;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 30px;
  flex-shrink: 0;
  grid-template-columns: repeat(4, minmax(209px, 1fr));
  font-size: var(--font-size-mid);
}
.latest-property-1 {
  height: 341px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gainsboro-200);
  align-items: flex-end;
  padding: var(--padding-3xl) 0 var(--padding-smi) var(--padding-11xs);
  box-sizing: border-box;
  gap: var(--gap-129xl);
  margin-bottom: 30px;
}
.add-dates-frame1,
.check-in-frame-parent,
.latest-property-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.rentalguidestext {
  width: 454px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-xl) var(--padding-25xl);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--button-03-size);
  color: var(--color-darkslategray);
}
.paginations-or-load {
  height: 40px;
  width: 336px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.filter-btn {
  cursor: pointer;
  border: 1px solid var(--color-darkgray);
  padding: var(--padding-xs) var(--padding-13xl) var(--padding-smi)
    var(--padding-12xl);
  background-color: var(--colors-white);
  width: 146px;
  border-radius: var(--br-5xl);
  align-items: center;
  gap: var(--gap-7xs);
}
.filter-btn:hover {
  background-color: var(--color-gainsboro-100);
  border: 1px solid var(--color-dimgray-200);
  box-sizing: border-box;
}
.filter-btn-child,
.search-bar1 {
  background-color: var(--colors-white);
  box-sizing: border-box;
}
.filter-btn-child {
  height: 48px;
  width: 146px;
  position: relative;
  border-radius: var(--br-5xl);
  border: 1px solid var(--color-darkgray);
  display: none;
}
.filter-icon,
.filters {
  position: relative;
  z-index: 1;
}
.filter-icon {
  height: 23px;
  width: 27px;
  overflow: hidden;
  flex-shrink: 0;
}
.filters {
  flex: 1;
  font-size: var(--paragraph-04-size);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--color-darkslategray);
  text-align: left;
}


/*  */
@media screen and (max-width: 1200px) {
  .properties-inner {
    padding-bottom: var(--padding-65xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .logo6 {
    font-size: var(--font-size-9xl);
  }
  .location-parent {
    display: none;
  }
  .properties-inner {
    padding-bottom: 55px;
    box-sizing: border-box;
  }
  .logo7 {
    font-size: var(--font-size-21xl);
  }
}
@media screen and (max-width: 750px) {
  .rectangle-parent {
    padding-left: var(--padding-19xl);
    padding-right: var(--padding-18xl);
    box-sizing: border-box;
  }
  .which-city-do1 {
    display: none;
  }
  .location-parent {
    width: 1.1000000000000227px;
  }
  .frame-parent4 {
    gap: 0 47px;
  }
  .search-bar1 {
    gap: var(--gap-13xl);
  }
  .types-and-filters {
    gap: 0 77px;
  }
  .types-and-filters-parent {
    gap: 31px 0;
  }
  .properties {
    gap: 47px 0;
  }
}
@media screen and (max-width: 450px) {
  .logo6 {
    font-size: var(--font-size-2xl);
  }
  .rectangle-parent {
    flex-wrap: wrap;
  }
  .check-in-parent {
    display: none;
  }
  .frame-parent5 {
    width: 20px;
  }
  .adddatesframe,
  .featherheartpropertyframe {
    display: none;
  }
  .framesliders-parent {
    gap: 0 40px;
  }
  .types-and-filters {
    gap: 0 77px;
  }
  .container,
  .group,
  .parent1,
  .parent2,
  .parent3,
  .parent4,
  .parent5,
  .parent6,
  .sliderindicatorssliderindicato {
    flex-wrap: wrap;
  }
  .properties-inner {
    padding-bottom: var(--padding-17xl);
    box-sizing: border-box;
  }
  .logo7 {
    font-size: var(--font-size-11xl);
  }
}
.hidden {
  display: none;
}
.filterList{
  display: flex;
}

.filter{
  margin-left:20px;
  margin-right: 20px;
}
.filter button {
  display: inline-block;
  padding: 8px 16px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 15px;
  cursor: pointer;
  width: 150px;
  height: 35px;
}

.filter button.selected {
  background-color: #FE4472;
  color: white;
}
.filterList {
  list-style-type: none; /* Remove bullet points */
  /* background-color: red */
}

.filterList .filter {
  margin-top: 10px;
  margin-bottom: 10px; /* Add some spacing between items */
}
